<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <!--CSS-->
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/var.css">
    <link rel="stylesheet" href="assets/css/prism.css">
    <link rel="stylesheet" href="assets/css/animation.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <style>
        .loading {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #e6e0d8;
            z-index: 10000;
            left: 0;
            top: 0;
        }

        .loading-text {
            position: absolute;
            left: 50%;
            top: 50%;
            font-size: 2vw;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>

    <div class="loading">
        <h2 class="loading-text">0%</h2>
    </div>
    <!-- //loading -->


    <div class="cursor"></div>
    <div id="wrap">
        <header id="header">
            <div class="b1 pattern1"></div>
            <div class="b2">
                <h2 class="scrollT">0</h2>
                <svg viewBox="0 0 24 24">
                    <path class="north-east" d="M9,5v2h6.6L4,18.6L5.4,20L17,8.4V15h2V5H9z" />
                </svg>
            </div>
            <div class="b3"></div>
            <div class="b4">
                <h2>menu</h2>
                <svg viewBox="0 0 24 24">
                    <path class="menu" d="M3,18h18v-2H3V18z M3,13h18v-2H3V13z M3,6v2h18V6H3z" />
                </svg>
            </div>
        </header>
        <!-- //header -->

        <div id="contents">
            <div id="section1">
                <div class="sec1">
                    <div class="left">
                        <h2>AN YEONJU</h2>
                        <span>portfolio</span>
                        <p>
                            안녕하세요:) 프론트엔드 개발자를 꿈꾸는 <strong>안연주</strong>입니다. 사람들과 대화하는 것을 좋아하고, 꼼꼼하게 업무를 처리하는 것이 저의 장점이라고
                            생각합니다. 매일 매일 바뀌는 웹 환경에서 살아남기 위해 새로운 트렌드를 놓치지 않도록 열심히 노력하겠습니다.
                        </p>
                    </div>
                    <div class="right">
                        <div class="right-box1">
                            <strong class="splitText">portfolio</strong>
                        </div>
                        <div class="right-box2">
                            <div class="blend-1 clearfix">I want to be a...
                                <svg viewBox="0 0 24 24">
                                    <path class="south-east" d="M19,9h-2v6.6L5.4,4L4,5.4L15.6,17H9v2h10V9z" />
                                </svg>
                            </div>
                            <div class="pattern2"></div>
                        </div>
                        <div class="right-box3">
                            <div>
                                <div class="rb1"><span>AN</span></div>
                                <div class="rb2"><span>YEON</span></div>
                                <div class="rb3"><span>JU</span></div>
                            </div>
                            <div>
                                <h1>FRONT-END<br> DEVELOPER</h1>
                                <p>처음에는 디자인에 관심이 있어 웹퍼블리싱을 공부했지만, 웹페이지에서 동적인 것을 구현할 수 있는 프론트엔드 개발에 점차 흥미를 느끼게 되었습니다. 코딩을
                                    하면 늘 새롭고, 그것을 즐기고 있는 제 모습을 발견할 때면 뿌듯합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //section1 -->

            <div id="section2">
                <div class="sec2">
                    <div class="title">
                        <div class="b1 clearfix blend-1">
                            <h2>skills</h2>
                            <svg viewBox="0 0 24 24">
                                <path class="south-east" d="M19,9h-2v6.6L5.4,4L4,5.4L15.6,17H9v2h10V9z" />
                            </svg>
                        </div>
                        <div class="b2 pattern3"></div>
                    </div>
                    <div class="document">
                        <div class="b3">
                            <div>HTML5</div>
                            <div>CSS3</div>
                            <div>jQuery</div>
                            <div>Javascript</div>
                        </div>

                        <div class="b4 skill">
                            <div>
                                <h3>HTML5</h3>
                                <div class="pie" data-percent="95"><strong class="count">95</strong></div>
                            </div>
                            <div>
                                <h3>CSS3</h3>
                                <div class="pie" data-percent="90"><strong class="count">90</strong></div>
                            </div>
                            <div>
                                <h3>jQuery</h3>
                                <div class="pie" data-percent="85"><strong class="count">85</strong></div>
                            </div>
                            <div>
                                <h3>Javascript</h3>
                                <div class="pie" data-percent="80"><strong class="count">80</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //section2 -->

            <div id="section3">
                <div class="sec3">
                    <div class="title">
                        <div class="b1 pattern4"></div>
                        <div class="b2 clearfix blend-1">
                            <svg viewBox="0 0 24 24">
                                <path class="south-west" d="M15,19v-2H8.4L20,5.4L18.6,4L7,15.6V9H5v10H15z"></path>
                            </svg>
                            <h2>view project</h2>
                        </div>
                    </div>
                    <div class="document-left">
                        <div class="pre">
                            <div class="left blend-2">
                                <span>web standard</span>
                                <img src="assets/img/standard1.png" alt="웹표준">
                            </div>
                            <div class="right">
                                <span>2021</span>
                                <p>웹 표준을 준수한 사이트로<br> 가장 기본이 되는<br> 웹 페이지입니다.</p>
                                <span>#SLICK <br>#JQUERY <br>#LIGHTGALLERY</span>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="left">
                                <h3>01 WEB STANDARD</h3>
                                <p>웹 표준을 준수하여 만든 사이트로 Slick과 Lightgallery 플러그인을 사용해 이미지 슬라이드와 이미지 갤러리를 구현했습니다.</p>
                                <div class="btn">
                                    <a href="http://annazoo1028.dothome.co.kr/web/" target="_blank"
                                        class="clearfix blend-3">go site
                                        <svg viewBox="0 0 24 24">
                                            <path class="north-east" d="M9,5v2h6.6L4,18.6L5.4,20L17,8.4V15h2V5H9z">
                                            </path>
                                        </svg>
                                    </a>
                                    <button id="btn-1" class="blend-2">view code
                                        <svg viewBox="0 0 24 24">
                                            <path class="search"
                                                d="M15.5,14h-0.8l-0.3-0.3c1-1.1,1.6-2.6,1.6-4.2C16,5.9,13.1,3,9.5,3S3,5.9,3,9.5S5.9,16,9.5,16
	c1.6,0,3.1-0.6,4.2-1.6l0.3,0.3v0.8l5,5l1.5-1.5L15.5,14z M9.5,14C7,14,5,12,5,9.5S7,5,9.5,5S14,7,14,9.5S12,14,9.5,14z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="right right-1">
                                <div id="code-1" class="line-numbers">
                                    <pre class="language-markup"><code><!--<div id="cont_nav">
    <div class="container">
        <h2 class="ir_su">전체 메뉴</h2>
        <div class="nav">
            <div>
                <h3>HTML Reference</h3>
                <ol>
                    <li><a href="#">HTML 태그(Tag)</a></li>
                    <li><a href="#">블록 요소/인라인 요소</a></li>
                    <li><a href="#">DTD 선언</a></li>
                    <li><a href="#">언어 속성 설정</a></li>
                    <li><a href="#">HTML <title></a></li>
                    <li><a href="#">HTML <meta></a></li>
                    <li><a href="#">특수문자</a></li>
                    <li><a href="#">하이퍼 링크</a></li>
                    <li><a href="#">HTML <style></a></li>
                    <li><a href="#">HTML <html></a></li>
                    <li><a href="#">HTML <head></a></li>
                    <li><a href="#">HTML <div></a></li>
                    <li><a href="#">HTML <colgroup></a></li>
                    <li><a href="#">HTML <caption></a></li>
                </ol>
            </div>
            <div>
                <h3>CSS  Reference</h3>
                <ol>
                    <li><a href="#">CSS 선택자</a></li>
                    <li><a href="#">CSS 단위</a></li>
                    <li><a href="#">CSS 색상</a></li>
                    <li><a href="#">CSS 선언 방법</a></li>
                    <li><a href="#">상대주소와 절대주소</a></li>
                    <li><a href="#">CSS float</a></li>
                    <li><a href="#">이미지 표현 방법</a></li>
                    <li><a href="#">이미지 스프라이트</a></li>
                    <li><a href="#">IR 효과</a></li>
                    <li><a href="#">이미지 최적화</a></li>
                    <li><a href="#">background-color</a></li>
                    <li><a href="#">border-style</a></li>
                    <li><a href="#">font-size</a></li>
                    <li><a href="#">text-align</a></li>
                </ol>
            </div>
            <div class="last">
                <h3>Webstandard</h3>
                <ol>
                    <li><a href="#">웹 표준</a></li>
                    <li><a href="#">웹 접근성</a></li>
                    <li><a href="#">W3C</a></li>
                    <li><a href="#">웹 접근성 연구소</a></li>
                    <li><a href="#">네이버 널리</a></li>
                    <li><a href="#">다음 다룸</a></li>
                    <li><a href="#">Webstandard</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>--></code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="document-right">
                        <div class="pre">
                            <div class="left">
                                <div class="b1 clearfix blend-1">
                                    <h2>view project</h2>
                                    <svg viewBox="0 0 24 24">
                                        <path class="south-east" d="M19,9h-2v6.6L5.4,4L4,5.4L15.6,17H9v2h10V9z" />
                                    </svg>
                                </div>
                                <div class="b2">
                                    <span>2021</span>
                                    <p>사용자가 어떤 환경에서<br> 접속하느냐에 따라 그에 맞게<br> 바뀌는 반응형 사이트입니다.</p>
                                    <span>#LIGHTGALLERY <br>#JQUERY <br>#SLICK</span>
                                </div>
                            </div>
                            <div class="right right-1 blend-2">
                                <span>responsive</span>
                                <img src="assets/img/responsive1.png" alt="반응형">
                            </div>
                        </div>
                        <div class="detail">
                            <div class="left">
                                <h3>02 RESPONSIVE</h3>
                                <p>사용자의 접속 환경에 따라 바뀌는<br> 반응형 사이트입니다. Slick과 Lightgallery 플러그인을 사용해<br> 이미지 슬라이드와 이미지
                                    갤러리를 구현했습니다.</p>
                                <div class="btn clearfix">
                                    <a href="http://annazoo1028.dothome.co.kr/responsive/" target="_blank"
                                        class="clearfix blend-3">go site
                                        <svg viewBox="0 0 24 24">
                                            <path class="north-east" d="M9,5v2h6.6L4,18.6L5.4,20L17,8.4V15h2V5H9z">
                                            </path>
                                        </svg>
                                    </a>
                                    <button id="btn-2" class="blend-2">view code
                                        <svg viewBox="0 0 24 24">
                                            <path class="search"
                                                d="M15.5,14h-0.8l-0.3-0.3c1-1.1,1.6-2.6,1.6-4.2C16,5.9,13.1,3,9.5,3S3,5.9,3,9.5S5.9,16,9.5,16
	c1.6,0,3.1-0.6,4.2-1.6l0.3,0.3v0.8l5,5l1.5-1.5L15.5,14z M9.5,14C7,14,5,12,5,9.5S7,5,9.5,5S14,7,14,9.5S12,14,9.5,14z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="right right-2">
                                <div id="code-2" class="line-numbers">
                                    <pre class="language-css"><code>/* 화면 너비 0 ~ 1220px */
@media (max-width: 1220px){
    .container { width: 100%; }
    .row { padding: 0 15px; }
    #contents .container { border: 0; }

    .title .btn { right: 5px; }
    .square a { width: 24%; }
    .square a:nth-child(5n) { display: none; }
}

/* 화면 너비 0 ~ 1024px */
@media (max-width: 1024px){
    .square a { width: 32.3333%; }
    .square a:nth-child(5) { display: block; }
}

/* 화면 너비 0 ~ 960px */
@media (max-width: 960px){
    #cont_right { position: static; width: 100%; border-top: 1px solid #dbdbdb; }
    #cont_center { margin-right: 0; border-right: 0; }

    .nav > div { float: none; width: 100%; }
    .nav > div:last-child { width: 100%; }
    .nav > div li { width: 33.3333%; }
    .nav > div:last-child li { width: 33.3333%; }
    .nav > div ol { margin-bottom: 10px; }

    #cont_right { overflow: hidden; }
    #cont_right .column { float: left; width: 33.3333%; box-sizing: border-box; }
    #cont_right .column.col7 { border-right: 1px solid #dbdbdb; border-bottom: 0; }
    #cont_right .column.col8 { border-right: 1px solid #dbdbdb; border-bottom: 0; }
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px){
    #cont_left { float: none; width: 100%; }
    #cont_center { border-left: 0; }
}

/* 화면 너비 0 ~ 600px */
@media (max-width: 600px){
    .header { height: auto; }
    .header .header_tit { display: none; }
    .header .header_icon { display: none; }
    .title .btn { display: none; }

    .nav > div li { width: 50%; }
    .nav > div:last-child li { width: 50%; }

    .column.col1 .col_tit { display: none; }
    .column.col1 .col_desc { display: none; }
    .column.col1 .menu li a i { display: none; }
    .column.col1 { padding: 0; border-bottom: 0; }
    .column.col1 .menu ul { overflow: hidden; }
    .column.col1 .menu li { float: left; width: 33.3333%; border-right: 1px solid #dbdbdb;
                           text-align: center; box-sizing: border-box; }
    .column.col1 .menu li:nth-child(3n) { border-right: 0; }
    .column.col1 .menu li a { color: #fff; text-shadow: 0 0 5px rgba(0,0,0,0.7); }
    .column.col1 .menu li a:hover { box-shadow: none; background: rgba(36,130,174,0.3); }
    .column.col2 { background: #fff; }
    .column.col4 { border-top: 1px solid #dbdbdb; }

    #cont_right .column { width: 50%; }
    #cont_right .column.col8 { border-right: 0; }
    #cont_right .column.col9 { display: none; }

    .slider figcaption { padding: 10px; }
    .slider figcaption em { font-size: 18px; }
    .slider figcaption span { font-size: 14px; }

    .square a { width: 49%; }
    .square a:nth-child(5) { display: none; }
}

/* 화면 너비 0 ~ 480px */
@media (max-width: 480px){

}

/* 화면 너비 0 ~ 320px */
@media (max-width: 320px){
    .nav > div li { width: 100%; }
    .nav > div:last-child li { width: 100%; }

    #cont_right .column { width: 100%; }
    #cont_right .column.col7 { border-right: 0; border-bottom: 1px solid #dbdbdb; }

    .square a { width: 100%; margin-right: 0; margin-left: 0; }
}</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="document-left-2">
                        <div class="pre">
                            <div class="left">
                                <span>megabox</span>
                                <img src="assets/img/megabox1.png" alt="메가박스">
                            </div>
                            <div class="right">
                                <div class="b1 clearfix blend-1">
                                    <svg viewBox="0 0 24 24">
                                        <path class="south-west" d="M15,19v-2H8.4L20,5.4L18.6,4L7,15.6V9H5v10H15z"></path>
                                    </svg>
                                    <h2>view project</h2>
                                </div>
                                <div class="b2">
                                    <span>2021</span>
                                    <p>메가박스 사이트를 리뉴얼해<br> 만든 반응형 사이트로<br> PC, Tablet, Mobile<br> 각 환경에 맞게 만들었습니다.</p>
                                    <span>#SWIPER <br>#JQUERY</span>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="left">
                                <h3>03 MEGABOX</h3>
                                <p>국내 영화관 기업 메가박스 사이트를 리뉴얼하여 만든 반응형 사이트입니다. 자바스크립트 라이브러리인 jQuery를 이용했고, 이미지 슬라이드를 구현하기
                                    위해 Swiper를 사용했습니다.</p>
                                <div class="btn">
                                    <a href="http://annazoo1028.dothome.co.kr/megabox/" target="_blank"
                                        class="clearfix blend-3">go site
                                        <svg viewBox="0 0 24 24">
                                            <path class="north-east" d="M9,5v2h6.6L4,18.6L5.4,20L17,8.4V15h2V5H9z">
                                            </path>
                                        </svg>
                                    </a>
                                    <button id="btn-3" class="blend-2">view code
                                        <svg viewBox="0 0 24 24">
                                            <path class="search"
                                                d="M15.5,14h-0.8l-0.3-0.3c1-1.1,1.6-2.6,1.6-4.2C16,5.9,13.1,3,9.5,3S3,5.9,3,9.5S5.9,16,9.5,16
	c1.6,0,3.1-0.6,4.2-1.6l0.3,0.3v0.8l5,5l1.5-1.5L15.5,14z M9.5,14C7,14,5,12,5,9.5S7,5,9.5,5S14,7,14,9.5S12,14,9.5,14z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="right right-3">
                                <div id="code-3" class="line-numbers">
                                    <pre class="language-js"><code>var mySwiper = new Swiper ('.swiper-container', {
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
    },
    autoplay: {
        delay: 5000,
    },
});

var mySwiper = new Swiper ('.swiper-container2', {
    slidesPerView: 4,
    spaceBetween: 24,
    keyboard: {
        enabled: true,
        onlyInViewport: false,
    },
    autoplay: {
        delay: 6000,
    },
    breakpoints: {
        600: {
            slidesPerView: 1.4,
            spaceBetween: 24
        },
        768: {
            slidesPerView: 2,
            spaceBetween: 24
        },
        960: {
            slidesPerView: 3,
            spaceBetween: 24
        }
    }
});

var movBtn = $(".movie_title > ul > li");
var movCont = $(".movie_chart > div");

movCont.hide().eq(0).show();

movBtn.click(function(e){
    e.preventDefault();
    var target = $(this);
    var index = target.index();
    movBtn.removeClass("active");
    target.addClass("active");
    movCont.css("display","none");
    movCont.eq(index).css("display","block");
});</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="document-right style">
                        <div class="pre">
                            <div class="left">
                                <div class="b1 clearfix blend-1">
                                    <h2>view project</h2>
                                    <svg viewBox="0 0 24 24">
                                        <path class="south-east" d="M19,9h-2v6.6L5.4,4L4,5.4L15.6,17H9v2h10V9z" />
                                    </svg>
                                </div>
                                <div class="b2">
                                    <span>2021</span>
                                    <p>해외 유모차 브랜드 ‘Inglesina’<br> 사이트를 리뉴얼해 만든 반응형<br> 사이트로 PC, Tablet, Mobile<br> 각 환경에
                                        맞게 만들었습니다.</p>
                                    <span>#JQUERY <br>#SLICK</span>
                                </div>
                            </div>
                            <div class="right right-2">
                                <span>inglesina</span>
                                <img src="assets/img/inglesina1.png" alt="잉글레시나">
                            </div>
                        </div>
                        <div class="detail">
                            <div class="left">
                                <h3>04 INGELSINA</h3>
                                <p>
                                    이탈리아 유모차 브랜드 'Inglesina' 사이트를 보다 더 가독성 있게 리뉴얼하여 만든 반응형 사이트입니다. 자바스크립트 라이브러리인 jQuery를
                                    이용했고, 이미지 슬라이드를 구현하기 위해 SLICK 플러그인을 사용했습니다.
                                </p>
                                <div class="btn">
                                    <a href="http://jjuvely3495.dothome.co.kr/Inglesina/" target="_blank"
                                        class="clearfix blend-3">go site
                                        <svg viewBox="0 0 24 24">
                                            <path class="north-east" d="M9,5v2h6.6L4,18.6L5.4,20L17,8.4V15h2V5H9z">
                                            </path>
                                        </svg>
                                    </a>
                                    <button id="btn-4" class="blend-2">view code
                                        <svg viewBox="0 0 24 24">
                                            <path class="search"
                                                d="M15.5,14h-0.8l-0.3-0.3c1-1.1,1.6-2.6,1.6-4.2C16,5.9,13.1,3,9.5,3S3,5.9,3,9.5S5.9,16,9.5,16
	c1.6,0,3.1-0.6,4.2-1.6l0.3,0.3v0.8l5,5l1.5-1.5L15.5,14z M9.5,14C7,14,5,12,5,9.5S7,5,9.5,5S14,7,14,9.5S12,14,9.5,14z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="right right-4">
                                <div id="code-4" class="line-numbers">
                                    <pre class="language-markup"><code><!--<div id="wrap">
    <header>
        <div class="header_logo">
            <h1 class="blind">Inglesina</h1>
            <a href="index.html"><img src="img/logo-header.png" alt="Inglesina Home"></a>
        </div>
        <nav>
            <h2 class="blind mobile">Menu</h2>
            <button type="button" class="mobile">
                <span>Menu</span>
                <span></span>
                <span></span>
            </button>
            <div class="nav_inner">
                <div class="inner_logo">
                    <a href="index.html"></a>
                </div>
                <div class="gnb">
                    <ul>
                        <li><a href="#"><span>STORY</span></a></li>
                        <li><a href="#"><span>WELCOME PAD</span></a></li>
                        <li><a href="#"><span>PRODUCT</span></a></li>
                        <li><a href="#"><span>CS CENTER</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="visual_wrap">
        <div class="slider">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="visual_right">
            <div class="visual_text">
                <h2>SYSTEM QUATTRO</h2>
                <p>Non-stop sleeping</p>
                <a href="#" class="discover">DISCOVER MORE</a>
            </div>
            <div class="visual_product">
                <div></div>
            </div>
        </div>
    </div>
</div>--></code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="document-left-2">
                        <div class="pre">
                            <div class="left">
                                <span>react</span>
                                <img src="assets/img/react1.png" alt="리액트">
                            </div>
                            <div class="right">
                                <div class="b1 clearfix blend-1">
                                    <svg viewBox="0 0 24 24">
                                        <path class="south-west" d="M15,19v-2H8.4L20,5.4L18.6,4L7,15.6V9H5v10H15z"></path>
                                    </svg>
                                    <h2>view project</h2>
                                </div>
                                <div class="b2">
                                    <span>2021</span>
                                    <p>React를 처음 적용해본 프로젝트로 <br>firebase를 이용해 호스팅했습니다. <br> 완벽히 구사하기 위해 매일 공부하고 있습니다.</p>
                                    <span>#SPA <br> #REACT <br> #FIREBASE <br> #COMPONENT</span>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="left">
                                <h3>05 REACT</h3>
                                <p>React를 배우고 처음으로 적용해본 프로젝트입니다. 반복되는 구간은 컴포넌트로 만들었습니다. 또한 Youtube API를 받아와 사이트 내에서 검색했을 때 해당 키워드가 들어간 유튜브 영상 목록이 나타나게 만들었습니다. 해당 사이트는 더 완벽하게 완성하기 위해 수정 중입니다.</p>
                                <div class="btn">
                                    <a href="https://react001-anna.web.app/" target="_blank"
                                        class="clearfix blend-3">go site
                                        <svg viewBox="0 0 24 24">
                                            <path class="north-east" d="M9,5v2h6.6L4,18.6L5.4,20L17,8.4V15h2V5H9z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="right right-5"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //section3 -->

            <div id="section4">
                <div class="sec4">
                    <div class="java-title">
                        <div class="b1 pattern5"></div>
                        <div class="b2 clearfix blend-1">
                            <svg viewBox="0 0 24 24">
                                <path class="south-west" d="M15,19v-2H8.4L20,5.4L18.6,4L7,15.6V9H5v10H15z"></path>
                            </svg>
                            <h2>javascript</h2>
                        </div>
                    </div>
                    <div class="script">
                        <div class="script1">
                            <div class="left blend-4">
                                <h1>WHACK-A-MOLE!<br> <strong>score : </strong><span class="score">0</span></h1>

                                <div class="game">
                                    <div class="hole hole1">
                                        <div class="mole"></div>
                                    </div>
                                    <div class="hole hole2">
                                        <div class="mole"></div>
                                    </div>
                                    <div class="hole hole3">
                                        <div class="mole"></div>
                                    </div>
                                    <div class="hole hole4">
                                        <div class="mole"></div>
                                    </div>
                                    <div class="hole hole5">
                                        <div class="mole"></div>
                                    </div>
                                    <div class="hole hole6">
                                        <div class="mole"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <h2>두더지 잡기 게임</h2>
                                <p>하단에 있는 GAME START 버튼을 누르면 게임이 시작됩니다! 제한시간 15초 동안 두더지를 잡는 게임으로 바닐라 자바스크립트를 이용해 만들었습니다.
                                    무작위로 튀어오르는 두더지를 최대한 많이 잡아보세요!</p>
                                <button onClick="startGame()" class="blend-4">GAME START</button>
                                <button class="blend-2">CODE VIEW</button>
                            </div>
                        </div>
                        <div class="script2">
                            <div class="left">
                                <div id="container" style="opacity: 0">
                                    <div id="game" class="fs">

                                        <div id="hintBtn">Hint</div>
                                        <div class="foundTxt"></div>
                                        <div class="timeTxt">30:00</div>
                                        <div class="timePlus">+3 sec</div>

                                        <div id="btnArea">
                                            <div id="b1" class="btn1"></div>
                                        </div>

                                        <div class="end">
                                            <div class="endTxt"></div>
                                            <div id="replayBtn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="240" height="240"
                                                    viewBox="0 0 240 240">
                                                    <rect width="240" height="240" fill="none" />
                                                    <path fill="#788ba7"
                                                        d="M120,50V10L70,60l50,50V70c33.11,0,60,26.9,60,60c0,33.11-26.89,60-60,60c-33.1,0-60-26.89-60-60H40 c0,44.2,35.8,80,80,80s80-35.8,80-80S164.2,50,120,50z" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <h2>Emoji Game</h2>
                                <p>아무 이모지나 누르면 게임이 시작됩니다! 같은 모양의 이모지를 찾아보세요. 제한 시간은 30초가 주어지며, 한 쌍의 이모지를 맞출 때마다 제한 시간이
                                    3초씩 늘어납니다. 게임을 재시작하려면 종료 후에 나오는 버튼을 누르세요.</p>
                                <button class="blend-2">CODE VIEW</button>
                            </div>
                        </div>
                        <div class="script3">
                            <div class="left">
                                <div class="app-container" id="taskList">
                                    <h1 class="app-header">To-Do List</h1>
                                    <div class="add-task">
                                        <input type="text" autocomplete="off" placeholder="Write your tasks"
                                            v-model="tasks.name" @keyup.enter="newItem" class="task-input">
                                        <input type="submit" value="" class="submit-task" @click="newItem"
                                            title="Add Task">
                                    </div>
                                    <ul class="task-list">
                                        <li class="task-list-item" v-for="task in tasks">
                                            <label class="task-list-item-label">
                                                <input type="checkbox">
                                                <span>{{task.name}}</span>
                                            </label>
                                            <span @click="delItem(task)" class="delete-btn"
                                                title="Delete Task">{{task.del}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="right">
                                <h2>To-Do List</h2>
                                <p>Vue.js를 이용해 만든 To-Do List입니다. 오늘의 할 일을 적을 수 있고, 이미 완료한 일은 체크버튼을 눌러 표시할 수 있습니다. 목록을
                                    삭제하고 싶다면 삭제 버튼을 눌러보세요!</p>
                                <button class="blend-2">CODE VIEW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--//section4 -->

            <div id="section5">
                <div class="sec5">
                    <div class="b1">
                        <div class="title blend-1">
                            <h2>animation</h2>
                            <svg viewBox="0 0 24 24">
                                <path class="south-east" d="M19,9h-2v6.6L5.4,4L4,5.4L15.6,17H9v2h10V9z"></path>
                            </svg>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="b2">
                        <div>
                            <div id="ani1" class="ani">
                                <div class="watch-face">
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="info">CSS3를 이용해서 만든 애플 워치의 숨쉬기 애니메이션입니다.</div>
                        </div>
                        <div>
                            <div id="ani2" class="ani">
                                <div class="frame">
                                    <div class="center">
                                        <div class="circle">
                                            <div class="side"></div>
                                            <div class="side"></div>
                                            <div class="side"></div>
                                            <div class="side"></div>
                                            <div class="side"></div>
                                            <div class="side"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info">CSS3를 이용해서 만든 원 회전 애니메이션입니다.</div>
                        </div>
                        <div>
                            <div id="ani3" class="ani">
                                <div class="container">
                                    <div class="color">
                                        <div class="red"></div>
                                    </div>
                                    <div class="color">
                                        <div class="orange"></div>
                                    </div>
                                    <div class="color">
                                        <div class="yellow"></div>
                                    </div>
                                    <div class="color">
                                        <div class="green"></div>
                                    </div>
                                    <div class="color">
                                        <div class="blue"></div>
                                    </div>
                                    <div class="color">
                                        <div class="purple"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="info">CSS3를 이용해서 만든 무지개 로딩 애니메이션입니다.</div>
                        </div>
                        <div>
                            <div id="ani4" class="ani">
                                <div class='wrapper'>
                                    <div></div>
                                </div>
                                <div class='wrapper'>
                                    <div></div>
                                </div>
                                <div class='wrapper'>
                                    <div></div>
                                </div>
                                <div class='wrapper'>
                                    <div></div>
                                </div>
                                <div class='wrapper'>
                                    <div></div>
                                </div>
                            </div>
                            <div class="info">CSS3를 이용해서 만든 꼬리가 움직이는 애니메이션입니다.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //section5 -->

            <div id="section6">
                <div class="sec6">
                    <div class="b1 pattern6"></div>
                    <div class="b2 blend-2">
                        <h2>profile</h2>
                        <div></div>
                    </div>
                    <div class="b3 blend-2">
                        <p>annazoo1028.co.kr annazoo1028.co.kr annazoo1028.co.kr annazoo1028.co.kr annazoo1028.co.kr
                            annazoo1028.co.kr annazoo1028.co.kr annazoo1028.co.kr annazoo1028.co.kr annazoo1028.co.kr
                        </p>
                    </div>
                </div>
            </div>
            <!-- //section6 -->

            <div id="section7">
                <div class="sec7">
                    <div id="comment" class="section-comment">
                        <h2>Please Give Me Your Feedback!</h2>
                        <p>더 나은 개발자가 될 수 있도록 소중한 코멘트 한 마디 부탁드립니다</p>
                        <div class="comment-form">
                            <form name="comment" method="post" action="assets/php/comment/commentSave.php">
                                <fieldset>
                                    <legend class="ir_so">코멘트 영역</legend>
                                    <div class="comment-wrap">
                                        <div class="blend-4">
                                            <label for="youName" class="screen_out"></label>
                                            <input type="text" name="youName" id="youName" class="input-text"
                                                placeholder="Write your name" autocomplete="off" required>
                                        </div>
                                        <div class="text blend-4">
                                            <label for="youText" class="screen_out"></label>
                                            <input type="text" name="youText" id="youText" class="input-text"
                                                placeholder="Please comment here" autocomplete="off" required>
                                        </div>
                                        <button class="login-btn blend-4" type="submit" value="comment">GO</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="comment-list">

                            <?php
                                    include "assets/php/connect/connect.php";
        
                                    $sql = "SELECT * FROM myComment2 ORDER BY ID DESC LIMIT 0, 8";
                                    $result = $connect -> query($sql);
        
                            while($date = mysqli_fetch_array($result)){
                            ?>
                            <div>
                                <p>
                                    <?=$date['youText']?>
                                </p>
                                <div class="icon">
                                    <img src="assets/img/feedback.svg" alt="화살표">
                                    <span>
                                        <?=$date['youName']?>
                                    </span>
                                    <span>
                                        <?=date('Y-m-d H:i', $date['regTime'])?>
                                    </span>
                                </div>
                            </div>
                            <?php
                                    }
                                ?>

                        </div>
                    </div>
                </div>
            </div>
            <!-- //section7 -->

            <footer id="footer">
                <div class="footer">
                    <div class="title">
                        <div class="b1 clearfix blend-1">
                            <h2>contact</h2>
                            <svg viewBox="0 0 24 24">
                                <path class="south-east" d="M19,9h-2v6.6L5.4,4L4,5.4L15.6,17H9v2h10V9z"></path>
                            </svg>
                        </div>
                        <div class="b2 pattern7"></div>
                    </div>
                    <div class="document">
                        <div class="b1"></div>
                        <div class="b2">
                            <section id="email" class="section-email">
                                <div class="email-form">
                                    <form name="email">
                                        <fieldset>
                                            <legend class="ir_so">이메일 영역</legend>
                                            <div class="email_wrap">
                                                <div>
                                                    <label for="youName">name</label>
                                                    <input type="text" name="youName" id="youName" class="input-text"
                                                        autocomplete="off" required>
                                                </div>
                                                <div class="email">
                                                    <label for="youEmail">email</label>
                                                    <input type="email" name="youEmail" id="youEmail"
                                                        class="input-email" autocomplete="off" required>
                                                </div>
                                                <div class="text">
                                                    <label for="youText">message</label>
                                                    <textarea name="youText" id="youText" cols="30"
                                                        rows="10"></textarea>
                                                </div>
                                                <button class="send-btn" type="button">send</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </section>
                            <!-- email -->
                            <div class="address">
                                <div class="left">
                                    <span>&copy; annazoo1028</span>
                                </div>
                                <div class="right">
                                    <h2>안연주 An Yeonju</h2>
                                    <address>
                                        email : jjuvely3495@gmail.com<br>
                                        Kakao ID : annazoo1028<br>
                                        Number : 010. 9707. 3495
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
    <script src="assets/js/jquery.easypiechart.min.js"></script>
    <script src="https://webstoryboy.github.io/portfolio2/portfolio08/port/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src='assets/js/prism.js'></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/script.js"></script>
    <script>
        imagesProgress();
        counter();

        function imagesProgress() {
            var preload = $('.loading'),
                $progressText = preload.find('.loading-text'),
                imgLoad = imagesLoaded('body'),
                imgTotal = imgLoad.images.length,
                imgLoaded = 0,
                current = 0,
                progressTimer = setInterval(updateProgress, 1000 / 60);

            imgLoad.on('progress', function () {
                imgLoaded++;
            });

            function updateProgress() {
                var target = (imgLoaded / imgTotal) * 100;

                current += (target - current) * 0.1;
                $progressText.text(Math.floor(current) + '%');

                if (current >= 100) {
                    clearInterval(progressTimer);
                    mainStart();
                }
                if (current > 99.9) {
                    current = 100;
                }
            }
        }

        function mainStart() {
            // $(".loading").animate("top","-100%");
            // document.querySelector(".loading").style.top = "-100%";
            gsap.to(".loading", { duration: 0.4, top: "-100%", ease: "power4.out" });
            //tl.to("right-box1")
        }

        function counter() {
            if ($('.skill .count').size()) {
                $c = $('.skill .count');

                $c.each(function () {
                    var $this = $(this);
                    $this.data('target', parseInt($this.html()));
                    $this.data('counted', false);
                    $this.html('0');
                });

                $(window).bind('scroll', function () {
                    var speed = 5000;

                    $c.each(function (i) {
                        var $t = $(this);
                        if (!$t.data('counted') && $(window).scrollTop() + $(window).height() >= $t.offset().top) {

                            $t.data('counted', true);

                            $t.animate({
                                dummy: 1
                            }, {
                                duration: speed,
                                step: function (now) {
                                    var $this = $(this);
                                    var val = Math.round($this.data('target') * now);
                                    $this.html(val);
                                },
                                easing: 'easeInOutQuart'
                            });

                            // easy pie
                            $('.pie').easyPieChart({
                                barColor: '#788ba7',
                                trackColor: '#e6e0d8',
                                scaleColor: '#788ba7',
                                scaleLength: 10,
                                lineWidth: 10,
                                size: 200,
                                lineCap: 'round',
                                animate: { duration: speed, enabled: true }
                            });
                        }
                    });
                }).triggerHandler('scroll');
            }
        }

    </script>
</body>

</html>