@import "reset.css";

body{
	background-color: #f6f9fc;
	font-family: 'Noto Sans KR', sans-serif;
	display: flex; flex-direction: column;
	align-items: center; justify-content: center;
	height: 100vh;
}
/*canvas*/
.canvas {
	width: 600px;
    height: 330px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*controls_range*/
.controls .controls_range {margin:3%;}
.controls .controls_range input {}

/*controls_btns*/
.controls .controls_btns {
	margin-bottom: 3%;
}
.controls .controls_btns button {
	all: unset;
    cursor: pointer;
    padding: 10px 0;
    width: 80px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    color: #555;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    margin: 0 5px;
}
.controls .controls_btns button:active {
	transform: scale(0.98);
}
.controls .controls_colors{
	display: flex; 
}
.controls .controls_colors .controls_color{
	width: 30px; height: 30px; border-radius: 50%;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	cursor: pointer; margin: 0 5px;
}