@charset "utf-8";
/* font */
.fontCavi{
    font-family: 'CaviarDreams';
}
.fontSun{
    font-family: 'Sunflower';
}
.fontBonV{
    font-family: 'Bon Voyage';
}
.fontCoco{
    font-family: 'Cocogoose';
}
/* scollbar */
::-webkit-scrollbar{
    width:7px;
}
::-webkit-scrollbar-track{
    background: #000;
}
::-webkit-scrollbar-thumb{
    background: #babac0;
    border-radius: 30px;
}

/*loader*/
.loader {
    position: fixed;
    /* visibility:visible; */
    z-index: 999999;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    transition: width 0s 1.4s ease;
  }
  
  .loader .loader__icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 0.5s ease;
  }
  
  #loading-rotater {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: rotateBase 20s infinite linear;
  }
  
  #loading-svg {
    animation: loading 2s infinite ease-in-out, rotate 2s infinite ease-in-out;
    stroke-dasharray: 150.79632;
  }
  
  @keyframes loading {
    0% {
      stroke-dashoffset: 150.79632;
    }
    100% {
      stroke-dashoffset: -150.79632;
    }
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes rotateBase {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .loader .loader__tile {
    position: absolute;
    left: 0;
    width: 0;
    height: 20%;
    background-color: #fff;
    transition: width 0.7s ease;
  }
  .loader .loader__tile:nth-child(0) {
    top: calc(-1 * 20%);
    transition-delay: -0.2s;
  }
  .loader .loader__tile:nth-child(1) {
    top: calc(0 * 20%);
    transition-delay: 0s;
  }
  .loader .loader__tile:nth-child(2) {
    top: calc(1 * 20%);
    transition-delay: 0.2s;
  }
  .loader .loader__tile:nth-child(3) {
    top: calc(2 * 20%);
    transition-delay: 0.4s;
  }
  .loader .loader__tile:nth-child(4) {
    top: calc(3 * 20%);
    transition-delay: 0.6s;
  }
  .loader .loader__tile:nth-child(5) {
    top: calc(4 * 20%);
    transition-delay: 0.8s;
  }
  .loader--active {
    width: 100%;
    transition-delay: 0s;
  }
  .loader--active .loader__icon {
    opacity: 1;
    transition: opacity 0.5s 1.4s ease;
  }
  .loader--active .loader__tile {
    width: 100%;
  }
  .loader--active .loader__tile:nth-child(0) {
    transition-delay: -0.2s;
  }
  .loader--active .loader__tile:nth-child(1) {
    transition-delay: 0s;
  }
  .loader--active .loader__tile:nth-child(2) {
    transition-delay: 0.2s;
  }
  .loader--active .loader__tile:nth-child(3) {
    transition-delay: 0.4s;
  }
  .loader--active .loader__tile:nth-child(4) {
    transition-delay: 0.6s;
  }
  .loader--active .loader__tile:nth-child(5) {
    transition-delay: 0.8s;
  }
  

/* 마우스 커서 */
.cursor {
    position: absolute;
    background: #fff;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 20000;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: scale(0.8);
}
.cursor::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: url(../img/cursor-drag.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    opacity: 0;
}
.cursor.active {
    background: #fff;
    opacity: 1;
    transform: scale(12);
}
.cursor.active::before {
    opacity: 1;
}
body{
    overflow-x: hidden;
}

/* Header */
#header{
    position: absolute;
    width:100%;
    height:100px;
    padding:1.5vw 2vw 0;
    z-index:2000;
    top:0;
    left:0;
    right:0;
    border:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: transparent;
    opacity: 0;
    transform: translateY(-30px);
}
#header a{
    color:#fff;
}
#header h1{
    flex: 0 1 10%;
}
#header h1 p{
    font-family: 'Sunflower';
    font-size: 30px;
    line-height: 0.6;
    text-align: center; 
    width:150px;
}
#header .symbol{
    position: relative;
}
#header .symbol::after{
    content:"";
    display: block;
    width: 20px;
    height: 25px;
    background: center / contain no-repeat url(../img/symbol.svg);
    position: absolute;
    bottom: -2px;
    right: 6px;
}
#header nav{
    flex: 0 1 60%;
    display: block;
}
#header nav ul{
    display: flex;
    justify-content: flex-end   ;
}
#header nav .nav-ellipse{
    position: relative;
}
#header nav .nav-ellipse:hover{
    transform: rotateZ(-7deg);
    transition: all 0.3s ease-out;
}
.nav-ellipse svg{
    width:auto;
    height:40px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.nav-ellipse svg path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.nav-ellipse:hover svg path{
    stroke-dashoffset: 0;
    transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
    transition-duration: 1s;
}

#header nav li a{
   padding:1vw 2.5vw;
   position: relative;
   z-index: 10;
}
.header-ham{
    display: none;
}
.ham{
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
}
.ham::before,
.ham::after{
    content:"";
    display: block;
    width:26px;
    height:2px;
    background: #fff;
}
.ham .bar{
    display: block;
    width:41px;
    height:2px;
    background: #fff;
    margin:5px 0;
}






/* MainScreen */
#mainContent{
    overflow-x: hidden;
}
.screen-content{
    background: #000;
    position: relative;
    height:92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8vh;
}
.screen-content-main>div{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen-content-main>div>p{
    font-size: 5.3vw;
    color:#fff;
    display: inline-block;
    line-height: 1.1;
    margin:0 1vw;
    opacity:0;
    
}
.screen-content-main>div>p.really{
    margin:0.9vw 1vw 0;
}
/* 메인 페이지 애니메이션 */
/* 첫번째 줄 */
.screen-content-main>div:nth-child(1)>p:nth-child(1){
    transform:rotateZ(-45deg);
    transform-origin: left;
}
.screen-content-main>div:nth-child(1)>p:nth-child(2){
    transform:translateX(100px);
}
.screen-content-main>div:nth-child(1)>p:nth-child(3){
    transform:translateY(50px);
}
/* 두번째 줄 */
.screen-content-main>div:nth-child(2)>p:nth-child(1){
    transform:translateY(-100px);
}
.screen-content-main>div:nth-child(2)>p:nth-child(2){
    transform: translateX(-200px);
}
.screen-content-main>div:nth-child(2)>p:nth-child(3){
    transform:scaleX(2.5);
}
/* 세번째 줄 */
.screen-content-main>div:nth-child(3)>p:nth-child(1){
    transform:scaleX(2.5);
}
.screen-content-main>div:nth-child(3)>p:nth-child(2){
    transform: skewX(100deg);
}
/* 네번째 줄 */
.screen-content-main>div:nth-child(4)>p:nth-child(1){
    transform:translateY(100px);
}
.screen-content-main>div:nth-child(4)>p:nth-child(2){
    transform: translateX(-200px);
}
.screen-content-main>div:nth-child(4)>p:nth-child(3){
    transform:scaleX(2);
    transform-origin: left;
}


.mainLogo span{
    display: block;
    font-size: 3vw;
    text-align: center;
    line-height: 0.6;
}
.mainLogoSymbol{
    position: relative;
}
.mainLogoSymbol::after{
    content:"";
    display: block;
    width: 1.927vw;
    height: 2.39vw;
    background: center / contain no-repeat url(../img/symbol.svg);
    position: absolute;
    bottom: -0.36vw;
    right: -0.625vw;
}
.mainArrow{
    width:5vw;
    height:auto;
}
.mainSymbol{
    transform: rotate(90deg);
    width:5vw;
    height:auto;
}
.really{
    margin:-1vw 1vw 0;
}

.screen-line{
    width:1px;
    height:100px;
    background: #fff;
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%) scaleY(0);
    transform-origin: top;
    opacity: 0;
}

/* main-about */
.about-cont{
    padding:25vh 0 20vh;
}
.flow-letter p{
    font-size: 5vw;
    line-height: 1;
    white-space: nowrap;
}
.flow-letter .right{
    margin-left:1100px;
}
.flow-letter .left{
    margin-left:-1100px;
}
.aboutSymbol{
    position: relative;
}
.aboutSymbol::after{
    content:"";
    display: block;
    width: 37px;
    height: 46px;
    background: center / contain no-repeat url(../img/symbol-black.svg);
    position: absolute;
    top: -3px;
    right: -18px;
}
.introduce{
    
    width: 75%;
    margin: 9vh auto 16vh;
}
.introduce p{
    font-family: 'GmarketSansTTFMedium';
    line-height: 2;
    font-size: 16px;
    opacity: 0;    
    transform: translateY(50px);
}
.introduce p:last-child{
    margin-top:3vh;
    font-size: 2vw;
    text-decoration: underline;
    opacity: 0;    
    transform: translateY(50px);
    
}
.introduceTab{
    position: relative;
}
.introduceTab::before{
    content:"";
    display: block;
    width:100%;
    height:1px;
    background: #000;
    position: absolute;
    top:25px;
    z-index:100;
}
.introduceTab .row{
   width:65%;
   margin:0 auto;
}
.introduceTab .tab-menu{
    display: flex;
    position: relative;
    z-index:200;

}
.introduceTab .tab-menu li a{
    width:50px;
    height:50px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    -webkit-text-fill-color:#fff;
    -webkit-text-stroke: 1px #000000;
    background: #fff;
    margin-right: 2vw;
    cursor:pointer;
}
.introduceTab .tab-menu li a.active{
    background: #000;
}
.introduceTab .tab-menu li a img{
    width:auto;
    height:23px;
}

.introduceTab .tab-content > div{
    display: none;
}
.introduceTab .tab-content .tabs .text-left{
    float:left;
    margin:2vw;
    font-family: 'GmarketSansTTFMedium';
    font-size: 1.6vw;
}

.introduceTab .tab-content .tabs .text-right{
    float:right;
    margin:2vw;
    position: relative;
    width:400px;
}
.introduceTab .tab-content .text-right::before{
    content:"";
    display: block;
    width:20px;
    height:20px;
    background: center / contain no-repeat url(../img/about-arrow.svg);
    position: absolute;
    top:0;
    left:-36px;
}

/* 메인 스토리 */
.story-article{
    background: #000;
    position: relative;
    padding-bottom:17vh;
}
.main-story{
    position: relative;
}
.main-story-title{
    width:75%;
    margin:0 auto;
    font-size: 5vw;
    color:#fff;
    line-height: 0.8;
    position: relative;
}
.story-line{
    display: block;
    width:1px;
    height:150px;
    background: #fff;
    margin-bottom:5px;
    opacity: 0;
    transform : scaleY(0);
    transform-origin : top;
}
.story-title-1{
    opacity: 0;
    transform: rotateZ(-30deg);
    transform-origin: left;
}
.story-title-2{
    opacity: 0;
    transform: rotateZ(-15deg);
    transform-origin: left;
}
.swiper-container{
    opacity: 0;
    transform: translateY(-100px);
    cursor:none;
}
.swiper-wrapper{
    margin-top:-20px;
}
.swiper-wrapper img{
    height:500px;
    object-fit: cover;
    /* margin:0 5px; */
}
.swiper-slide{
    height:500px;
    
}




/* 컨텍트 */
.contact-section{
    background: #141414;
    padding: 0 0 17vh;
}
.contact-row{
    width:75%;
    margin:0 auto;
    position: relative;
}
.contact-title{
    font-size: 5vw;
    color:#fff;
    line-height: 0.9;
}
.contact-line{
    display: block;
    width:1px;
    height:150px;
    background: #fff;
    opacity: 0;
    transform : scaleY(0);
    transform-origin : top;
}
.smallTitle{
    font-size: 15px;
    line-height: 1;
    margin:-20px 0 40px 10px;
    opacity: 0;
    transform : translateX(-100px);
}
.contact-title-1{
    opacity: 0;
    transform: rotateZ(-30deg);
    transform-origin: left;
}
.contact-title-2{
    opacity: 0;
    transform: rotateZ(-15deg);
    transform-origin: left;
}
.contact-cont{
    margin-top: 5vh;
    opacity: 0;
    transform: translateX(-100px);
    position: absolute;
    bottom:-5vh;
    right:0;
    display: inline-block;
    
}
.contact-cont a::after{
    content:"";
    display:block;
    width:0%;
    height:100%;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    background: #fff;
    position: absolute;
    top:0;
    right:0;
    z-index: 50;
}
.contact-cont:hover a::after{
    width:100%;
    left:0;
}

.contact-cont a{
    width:100%;
    height:100%;
    padding:3px 0 0 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.contact-cont .contact-more{
    color:#fff;
    position: relative;
    z-index: 100;
}
.contact-cont:hover .contact-more{
    color:#000;
}
.contact-cont .contact-arrow{
    display: inline-block;
    width:112px;
    height:15px;
    background: center / contain no-repeat url(../img/contact-arrow.svg);
    position: relative;
    z-index: 100;
    margin-top:1px;
}
.contact-cont:hover .contact-arrow{
    background: center / contain no-repeat url(../img/contact-arrow-hover.svg);
}

/* footer */
#footer{
    background: #000;
    color:#fff;
}

#footer a{
    color:#fff;
}
.footer-inner{
    width:75%;
    display: flex;
    padding:10vh 12vw;
    align-items: center;
    justify-content:space-between;
}
.footer-cont-row1{
    flex: -1 0 30%;
}
.footer-cont-row1 {
    font-size: 2vw;
    text-align: center;
    line-height: 0.6;
}
.footer-cont-row1 p{
    width:150px;
}
.footer-cont-row1 p.symbol{
    position: relative;
    
}
.footer-cont-row1 p.symbol::after{
    content:"";
    display: block;
    width: 20px;
    height: 25px;
    background: center / contain no-repeat url(../img/symbol.svg);
    position: absolute;
    bottom: 0px;
    right: -5px;
}

.footer-cont-row2{
    flex: -1 0 35%;
}
.footer-cont-row2 li{
    padding:1vh 0;
}
.footer-cont-row3{
    flex: -1 0 35%;
}
.footer-cont-row3 .email{
    font-size: 2vw;
    text-decoration: underline;
}
.footer-cont-row3 .coding{
    margin-bottom:2vh;
    position: relative;
    display: flex;
    align-items: center;
}
.footer-cont-row3 .coding p img{
    width: 41px;
    height: 52px;
    object-fit: contain;
    margin-right:1vw;
    transform: rotate(90deg);
}
.footer-social{
    display: flex;
    align-items: center;
}
.smile{
    font-family: 'GmarketSansTTFMedium';  
}
.footer-line{
    width:100px;
    height:1px;
    background: #fff;
    margin:0 1vw;
}
.footer-sns-list span{
    display: inline-block;
    margin:0 3px;
}
.footer-sns-list img{
    width:43px;
    height:43px;
}

/* 미디어 쿼리 */
@media (max-width: 1024px){

}

@media (max-width: 768px){
    #header {
        padding: 0 1vw 0;
        height: 81px;
    }
    #header nav{
        display: none;
    }
    .header-ham{
        display: block;
    }
    #header h1 p {
        font-size: 22px;
        width: 130px;
    }
    #header .symbol::after {
        bottom: -5px;
        right: 10px;
    }
    .screen-content {
        height: 100vh;
        padding-top: 0;
    }
    .screen-content-main>div>p {
        font-size: 7.3vw;
    }
    .about-cont {
        padding: 7vh 0 7vh;
    }
    .introduce {
        width: 90%;
        margin: 9vh auto 9vh;
    }
    .introduce p {
        font-size: 14px;
    }
    .introduce p:last-child {
        font-size: 24px;
    }
    .flow-letter p {
        font-size: 37px;
    }
    .aboutSymbol::after {
        width: 21px;
        height: 31px;
    }
    .introduceTab .row {
        width: 90%;
    }
    .introduceTab .tab-menu {
        justify-content: center;
    }
    .introduceTab .tab-menu li:last-child a {
        margin-right: 0;
    }
    .introduceTab .tab-content .tabs{
        text-align: center;
    }
    .introduceTab .tab-content .tabs .text-left {
        float: none;
        margin: 5vh 4vw;
        font-family: 'GmarketSansTTFMedium';
        font-size: 25px;
    }
    .introduceTab .tab-content .tabs .text-right {
        float:none;
        width:auto;
    }
    .introduceTab .tab-content .text-right::before {
        top: -34px;
        left: 50%;
        transform: rotate(90deg) translateY(50%);
    }
    .swiper-wrapper img {
        height: 400px;
    }
    .main-story-title {
        width: auto;
        margin: 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;
        font-size: 42px;
    }
    .story-line {
        margin-bottom: 28px;
    }
    .swiper-container {
        margin-top: -12px;
    }
    .main-story{
        padding-bottom: 4vh;
    }
    .story-title-1 {
        margin-bottom: 7px;
    }
    .contact-section {
        padding: 0 0 10vh;
    }
    .contact-row {
        width: auto;
        margin: 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-title {
        font-size: 45px;
        line-height: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10vh;
    }
    .contact-line {
        margin-bottom: 23px;
    }
    .smallTitle {
        display: none;
    }
    .contact-cont {
        margin-top: 0;
        position:static;
        bottom: 0;
        right: 0;
    }
    .footer-inner {
        width: auto;
        padding: 14vh 3vw;
        align-items:initial;
        flex-direction: column;
    }
    .footer-cont-row1{
        display: none;
    }
    .footer-cont-row2 {
        margin-bottom: 4vh;
        font-size: 14px;
    }
    .footer-cont-row3 .email {
        font-size: 19px;
    }

    
}

@media (max-width: 500px){

}

@media (max-width: 425px){

}

