body{ background: #000; }
/* body::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}
body::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.8);
    border-radius: 3px;
} */
#header{ 
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 1px solid #3a3a3a;
    height: 50px;
    box-sizing: border-box;
    background: #000;
    z-index: 10;
    opacity: 0;
    transform: translateY(-100px);
    animation: hShow 0.6s 2.4s ease forwards;
}
#section2{
    padding: 10vw;
    background: #CCCAC6;
    overflow: hidden;
}
/* loader */
.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    transition: width 0s 1.4s ease;
  }
  .loader .loader__icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .loader .loader__icon svg {
    transform-origin: 0 0;
  }
  .loader .loader__tile {
    position: absolute;
    left: 0;
    width: 0;
    height: 20%;
    background-color: #BFB4A3;
    transition: width 0.7s ease;
  }
  .loader .loader__tile:nth-child(0) {
    top: calc(-1 * 20%);
    transition-delay: -0.2s;
  }
  .loader .loader__tile:nth-child(1) {
    top: calc(0 * 20%);
    transition-delay: 0s;
  }
  .loader .loader__tile:nth-child(2) {
    top: calc(1 * 20%);
    transition-delay: 0.2s;
  }
  .loader .loader__tile:nth-child(3) {
    top: calc(2 * 20%);
    transition-delay: 0.4s;
  }
  .loader .loader__tile:nth-child(4) {
    top: calc(3 * 20%);
    transition-delay: 0.6s;
  }
  .loader .loader__tile:nth-child(5) {
    top: calc(4 * 20%);
    transition-delay: 0.8s;
  }
  .loader--active {
    width: 100%;
    transition-delay: 0s;
  }
  .loader--active .loader__icon {
    opacity: 1;
    transition: opacity 0.5s 1.4s ease;
  }
  .loader--active .loader__tile {
    width: 100%;
  }
  .loader--active .loader__tile:nth-child(0) {
    transition-delay: -0.2s;
  }
  .loader--active .loader__tile:nth-child(1) {
    transition-delay: 0s;
  }
  .loader--active .loader__tile:nth-child(2) {
    transition-delay: 0.2s;
  }
  .loader--active .loader__tile:nth-child(3) {
    transition-delay: 0.4s;
  }
  .loader--active .loader__tile:nth-child(4) {
    transition-delay: 0.6s;
  }
  .loader--active .loader__tile:nth-child(5) {
    transition-delay: 0.8s;
  }


/* header */
#header h1 a{ 
    color: #f1f1f1;
    font-family: 'Abel';
    font-size: 24px;
    font-weight: normal;
}
.project_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    margin-left: 5%;
}
.member ul{display: flex; align-items: center;}
.member ul li{padding: 0 10px;}
.member ul li a{
    color: #f1f1f1; 
    font-size: 13px;
    font-family: 'Abel';
}
.member ul li a.session{
	font-family: 'Chosunilbo_myungjo';
	font-size: 13px;
}
/* ani */
@keyframes hShow{
    to{opacity: 1; transform: translateY(0);}
}


/* sec1 */
.sec1{
    height: 100vh;
    box-sizing: border-box;
}
.sec1 .ani{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
}
.sec1 .ani span { 
    /* color: #191919 ; */
    color: #1d1d1d;
    font-family: "Miracle";
    font-size: 25vw; 
    animation: loop 20s linear infinite;
}
@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.sec1 .title-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 1px solid rgb(97, 96, 96); */
}
.sec1 .title-wrap .title{
    /* padding: 12% 0 0 12%; */ 
    margin-bottom: 4%;
}
.sec1 em,
.sec1 strong{
    color: #FFF9F1;
    font-size: 5vw;
    font-family: "Miracle";
    line-height: 6vw;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.sec1 em span{
    opacity: 0;
    display: inline-block;
    transform: translateY(100px);
    animation: h1Move 1s 1.6s forwards;
    font-weight: normal;
}
@keyframes h1Move {
    to{opacity: 1; transform : translateY(0)}
}
.sec1 strong span{
    opacity: 0;
    display: inline-block;
    transform: translateY(100px);
    animation: h2Move 1s 1.8s forwards ;
    font-weight: normal;
}
@keyframes h2Move {
    to{opacity: 1; transform : translateY(0)}
}
/* .sec1 em span:nth-of-type(4){margin-right: 20px;} */
.sec1 strong span:nth-of-type(2){margin-right: 20px;}
.sec1 strong span:nth-of-type(11){margin-right: 20px;}

.sec1 .desc{display: flex;align-items: center;}
.sec1 .title-wrap .scroll{
    color: #fff;
    white-space: nowrap;
    font-size: 1.3vw;
    font-family: 'Chosunilbo_myungjo';
    flex: 0 0 30%;
    opacity: 0;
    transform: translateY(30px);
    animation: pMove 0.8s forwards 2.2s ease;
}
.scroll span{   
    display: inline-block;
    width: 0px;
    height: 1px;
    background: #fff;
    vertical-align: middle;
    margin-left: 5px;
    width: 0;
    background: #FFF9F1;
    animation: pbMove3 0.6s forwards 2.4s;
}
@keyframes pbMove3 {
    to{width: 62px;}
}
.sec1 p{
    flex: 0 0 60%;
    position: relative;
    color: #FFF9F1;
    font-size: 0.8vw;
    font-family: 'Chosunilbo_myungjo';  
    text-align: justify; 
    opacity: 0;
    transform: translateY(30px);
    animation: pMove 0.8s forwards 2.2s ease;
}
@keyframes pMove {
    to{opacity: 1; transform : translateY(0)}
}
.sec1 p:before{
    /* content: ''; */
    position: absolute;
    top: 0;
    left: -1.5%;
    width: 1px;
    height: 0%;
    background: #FFF9F1;
    animation: pbMove 0.6s forwards 2.4s;
}
@keyframes pbMove {
    to{height: 100%;}
}

/* sec2 */
.sec2{}
.sec2 .project{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #222;
    padding-top: 250px;
    margin: 10vw 0 20vw;
}
.sec2 .project:last-child{margin-bottom: 10vw;}
.sec2 .project .num{
    position: absolute;
    top: 0;
    left: -3vw;
    color: #c3c1bc;
    font-size: 700px;
    line-height: 1;
    font-family: 'Sunflower';
    opacity: 0;
    transform: translateX(-100px);
    transition:  opacity 0.5s ,transform 0.8s ;
}
.sec2 .project .left{
    position: relative;
    width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.sec2 .project .left .desc{
    color: #666;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.1vw;
    line-height: 2.1vw;
    text-align: justify;
    margin-left: 15px;
    opacity: 0;
    transform: translateX(-50px);
    transition: 0.6s 1s ;
}
.sec2 .project:nth-of-type(2n) .left .desc{transform: translateX(50px);}
.sec2 .project.show .left .desc{opacity: 1;transform: translateX(0);}
.sec2 .project:nth-of-type(2n).show .left .desc{opacity: 1;transform: translateX(0);}
.sec2 .project .left .line{
    position: absolute;
    display: inline-block;
    height: 0%;
    width: 2px;
    background: #a29e95;
    opacity: 0;
    transition: 0.6s 1.2s ;
}
.sec2 .project.show .left .line{opacity: 1; height: 100%;}
.sec2 .project .right{
    position: relative;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sec2 .project .right h2{
    font-family: "Miracle";
    font-size: 5vw;
    line-height: 6vw;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(100px);
    transition: 0.5s 0.4s ;
}
.sec2 .project .right .iframe{
    width: 100%; height: 450px;    
    border-radius: 5px;
    overflow: hidden;
    opacity: 0; transition: 0.6s 1.2s; transform: translateY(-50px);
}
.sec2 .project .right .iframe iframe{width: 100%; height:100%}
.sec2 .project .right .btn-wrap {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
    opacity: 0; transform: translateY(100px);
    transition: 0.5s 0.6s ;
}
.sec2 .project .right .btn-wrap:before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 0%; height: 100%;
    background: #A6A39E;
    z-index: -1;
}
.sec2 .project:nth-of-type(2n) .right .btn-wrap:before{
    left: auto;
    right: 0;
}
.sec2 .project .right .btn-wrap:hover:before{
    animation: reveal 0.7s cubic-bezier(0, 0.51, 0.16, 1.1);
}
@keyframes reveal {
    0%   {width: 0;    left: 0;}
    50%  {width: 100%; left: 0;}
    80%  {width: 100%; left: 0;}
    100% {width: 0;    left: 100%;}
}
.sec2 .project:nth-of-type(2n) .right .btn-wrap:hover:before{
    animation: reveal2 0.7s cubic-bezier(0, 0.51, 0.16, 1.1);
}
@keyframes reveal2 {
    0%   {width: 0;    right: 0;}
    50%  {width: 100%; right: 0;}
    80%  {width: 100%; right: 0;}
    100% {width: 0;    right: 100%;}
}
.project.show .right .btn-wrap{opacity: 1; transform: translateY(0);}
.sec2 .project .right .btn{
    font-size: 1.3vw;
    font-family: 'Abel';
    text-transform: uppercase;
}
.sec2 .project .right .btn-wrap .line{
    display: inline-block;
    height: 1px;
    width: 0vw;
    background: #222;
    margin-left: 10px;
    opacity: 0;
    transition: width 0.6s 0.8s;
}
.project.show .right .btn-wrap .line{opacity: 1; width: 5vw;}
.sec2 .project:nth-of-type(2n) {  flex-direction: row-reverse;}
.sec2 .project:nth-of-type(2n) .num{  left: auto; right: -3vw; transform: translateX(100px);}
.sec2 .project:nth-of-type(2n) .right { align-items: flex-end;}
.sec2 .project:nth-of-type(2n) .right h2{ text-align: right;}
.sec2 .project:nth-of-type(2n) .right .btn-wrap{ flex-direction: row-reverse;}
.sec2 .project:nth-of-type(2n) .right .btn-wrap .line{ margin-left: 0; margin-right: 10px;}

/* ani */
.sec2 .project.show .num {opacity: 1; transform: translateX(0);}
.project.show .right h2 {opacity: 1;transform: translateY(0);}
.project.show .right .iframe{opacity: 1;transform: translateY(0);}




/* footer */
.footer{
    position: relative;
    font-family: 'Sunflower';
}
.footer .f_top{
    position: relative;
    padding: 0 10vw 0;
    background: #beb8ae;
    background: #222;
    border-bottom: 1px solid #4c4b4b;
}

.footer .f_top .line{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 1px;
    height: inherit;
    background: #444;
}
.f_top .btn {
    position: relative;
    height: 50vh;
    /* margin: 3vw 0; */
}
.f_top .btn nav{ 
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f_top .btn nav > a{
    margin: 5% 15%;
}
.f_top .btn a{
    color: #969086;
    font-size: 4.7vw;
    text-align: center;
}
:root {
    font-size: 16px;
    --link-translate-x: 2.5rem;
  }
  
.nav__link {
    font-size: 5rem;
    color: #fff;
    display: grid;
    font-style: italic;
}
.nav__link--text {
    grid-area: 1/1;
    transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95), transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.nav__link--text .word {
white-space:     nowrap;
}
.nav__link--text .char {
    display: inline-block;
    transform-origin: 50% 50% 0.4em;
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
    transition-delay: calc(0ms + var(--char-index) * 25ms);
    backface-visibility: hidden;
    margin: 0 -0.02em;
}
.nav__link--text:nth-child(1) {
    font-family: 'Sunflower';
    font-weight: 500;
}
.nav__link--text:nth-child(2) {
    font-family: "Miracle";
    font-weight: 500;
    opacity: 0;
    color: #fff9f1;
}
.nav__link--text:nth-child(2) .char {
    transform: rotate3d(1, -0.5, 0, 90deg);
}
.nav__link:hover .nav__link--text {
    transform: translateX(var(--link-translate-x));
}
.nav__link:hover .nav__link--text:nth-child(1) {
    opacity: 0;
}
.nav__link:hover .nav__link--text:nth-child(1) .char {
    transform: rotate3d(1, 0.3, 0, -90deg);
}
.nav__link:hover .nav__link--text:nth-child(2) {
    opacity: 1;
}
.nav__link:hover .nav__link--text:nth-child(2) .char {
    transform: rotate3d(0, 0, 0, 90deg);
}

@media only screen and (max-width: 20rem) {
:root {
    font-size: 10px;
    --link-translate-x: 2rem;
    }
}
.f_top .arrow{
    width: 2.5vw;
    position: absolute;
}
.f_top .prev{    
    top: 50%;
    left: 3%;
    transform: translateY(-50%) rotate(90deg);
}
.f_top .next{    
    top: 50%;
    right: 3%;
    transform: translateY(-50%) rotate(-90deg);
}
.f_top .arrow svg{stroke: #969086; stroke-width:3;}
.f_top .arrow svg .st0{fill: #969086;}
.f_top .arrow svg .st1{fill: none;}

.footer .f_bottom{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 2% 10vw;
    background: #222;
    color: #969086;
    overflow: hidden;
}
.footer .f_bottom .logo{
    flex: 0 0 33%;
    opacity: 0;
    transform: translateY(50px);
}
.footer .f_bottom .logo a{ font-size: 2vw; color: #969086;}
.footer .f_bottom .info{
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    line-height: 1.8vw;
    opacity: 0;
    transform: translateY(50px);
}
.footer .f_bottom .info em{   
     font-size: 0.8vw;
     color: #969086;
     font-family: 'NEXON Lv1 Gothic OTF Light';
     font-weight: bold;
     white-space: nowrap;
}
.footer .f_bottom .right{
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'NEXON Lv1 Gothic OTF Light';
    font-weight: bold;
    opacity: 0;
    transform: translateY(50px);
}
.footer .f_bottom .right .menu{
    width: 28vw;
    text-align: right;
    margin-bottom: 2%;
}
.footer .f_bottom .right .menu li{
    position: relative;
    display: inline-block;
    margin: 0 4%;
}
.footer .f_bottom .right .menu li a{
    font-size: 0.8vw;
}
.footer .f_bottom .right .menu li:before{
    content: '/';
    position: absolute;
    left: -1.5vw;
    top: 3%;
    font-size: 1vw;
    color: #222;
}
.footer .f_bottom .right .menu li:nth-of-type(1){margin-left: 0;}
.footer .f_bottom .right .menu li:last-child{margin-right: 0;}
.footer .f_bottom .right .menu li:nth-of-type(1):before{display: none;}
.footer .f_bottom .social{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}
.footer .f_bottom .social li{
    display: inline-block;
    margin: 3% 2px;
}
.footer .f_bottom .copyright{
    font-size: 0.8vw;
    color: #969086;
    white-space: nowrap;
}
/* 미디어쿼리 */
@media (max-width:1024px) {
    .sec1 .ani span{font-size: 30vw;}
    .sec1 em,
    .sec1 strong{font-size: 6.5vw;}
    .sec1 .title-wrap .scroll{font-size: 1.6vw;}
    .sec1 p{font-size: 1.05vw;flex: 0 0 66%;}
    /* sec2 */
    .sec2 .project { padding-top: 16vw; }
    .sec2 .project .right h2{font-size: 6vw; line-height: 7vw;}
    .sec2 .project .right .btn{font-size: 1.8vw;}
    .sec2 .project .left .desc{font-size: 1.3vw;  line-height: 2.2vw;}
}
@media (max-width:960px) {
    .sec1 em,
    .sec1 strong{font-size: 7vw;}
    .sec1 .title-wrap .scroll{font-size: 1.7vw;}
    .sec1 p{font-size: 1.1vw;}
    /* footer */
    .footer .f_bottom{ padding: 3% 10vw;}
    .f_top .btn{height: 40vh;}
    .footer .f_bottom .logo a{font-size: 2.6vw}
    .footer .f_bottom .info em{font-size: 1.2vw;line-height: 2.2vw;}
    .footer .f_bottom .copyright{font-size: 1.2vw  }
}
@media (max-width:768px) {
    .sec1 .ani span {   font-size: 50vw;  }
    .sec1 em,
    .sec1 strong{font-size: 8vw;}
    .sec1 .title-wrap .scroll{font-size: 2vw;}
    .sec1 p{font-size: 1.5vw;}
    /* sec2 */
    .sec2 .project{  flex-direction: column-reverse;  align-items: center;  padding-top: 30vw; margin: 10vw 0 30vw;}
    .sec2 .project:nth-of-type(2n){flex-direction: column-reverse;  align-items: center;}
    .sec2 .project .num{font-size: 85vw;  left: -15vw;}
    .sec2 .project:nth-of-type(2n) .num{right: -15vw;}
    .sec2 .project .left { width: 90%;   margin-top: 30px; }
    .sec2 .project .left .desc{  font-size: 2.5vw; line-height: 3.5vw;}
    .sec2 .project .right{width: 90%;}
    .sec2 .project .right h2 { font-size: 10vw;  line-height: 11vw; }
    .sec2 .project .right .btn{font-size: 18px;}
     /* footer */
     .f_top .btn a{font-size: 6vw;}
     .footer .f_bottom .logo a{font-size: 2.8vw}
     .footer .f_bottom .info em{font-size: 1.4vw;  line-height: 2.4vw;}
     .footer .f_bottom .copyright{font-size: 1.4vw  }
}
@media (max-width:600px) {
    .sec1 .desc {justify-content: space-between; }
    @keyframes pbMove3 {
        to{width: 55px;}
    }
     /* footer */
     .footer .f_bottom{flex-direction: column;}
     .f_top .btn {   height: 30vh; }
     .f_top .btn a{font-size: 7vw;}
     .footer .f_bottom .logo {margin-bottom: 10px;}
     .footer .f_bottom .logo a { font-size: 4vw;  }
     .footer .f_bottom .info{margin-bottom: 10px;}
     .footer .f_bottom .info em{text-align: center; font-size: 2.2vw;  line-height: 3.2vw;}
     .footer .f_bottom .social{justify-content: center; margin-bottom: 10px;}
     .footer .f_bottom .copyright{font-size: 2.2vw;  line-height: 3.2vw;}
}
@media (max-width:480px) {
    .sec1 .title-wrap .scroll{display: none;}
    .sec1 p {flex: 100%; position: relative;padding-left: 10px;}
    .sec1 p::before{
        content: '';
        position: absolute;
        left: 0;
        width: 1px; height: 100%;
        background: #fff;
    }
}
@media (max-width:375px) {
    .sec1 .ani span {   font-size: 60vw;  }
}