*{    box-sizing: border-box;}
body{background: #fcfcfc;}
/*layout*/
#header{ 
/*    position: absolute;*/
    width: 100%;
    display: flex; align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 1px solid #eee;
    height: 50px;
    box-sizing: border-box;
    background: #fff;
    z-index: 2;
    opacity: 1;
/*    transform: translateY(-100px);*/
/*    animation: hShow 0.6s 1.8s ease forwards;*/
}

/* header */
#header h1 a{ 
    color: #222;
    font-family: 'Abel';
    font-size: 24px;
    font-weight: normal;
}
.about_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5vw;
    background: url(../../../assets/img/about_circle.png) no-repeat;
    background-size: contain;
}
.member ul{display: flex; align-items: center;}
.member ul li{padding: 0 10px;}
.member ul li a{
    color: #222;
    display: block;
    font-family: 'Abel';
    font-size: 15px;
}
/* ani */
@keyframes hShow{
    to{opacity: 1; transform: translateY(0);}
}



/*login*/
.login-form{
    width: 45vw;
    margin: 100px auto 150px;
    padding: 60px 40px;
    border: 1px solid #dfdfdf;
    background: #fff;
    border-radius: 5px;
}
.login-form h2 {
    margin-bottom: 30px;
    font-size: 18px;
}
.login-form .login-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}
.login-form .login-box .input_write {
    width: 100%;
    display: block;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 13px;
    height: 50px;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 30px;
    box-sizing: border-box;
	 color: #222;
}
.login-form .login-box .input_write{}
.login-form .login-box .info {
    margin-top: 50px;
}
.login-form .login-box .info .list li{
	position: relative;
	margin-left: 10px;
}
.login-form .login-box .info .list li:before{
	content: '';
	width: 3px;
	height: 3px;
	background: #000;
	position: absolute;
	left: 0;
	top: 9px;
}
.login-form .login-box .info a {
    padding-left: 5px;
    text-decoration: underline;
    font-weight: bold;
}
.login-form .login_btn {
    margin-top: 50px;
    width: 100%;
    padding: 16px 0;
    background: #eee;
    font-size: 18px;
    font-weight: bold;
}

/*join*/
.login-form h3 {
    margin-bottom: 14px;
    font-size: 16px;
    text-decoration: underline;
}
.login-form .join-privacy {
    background: #f7f7f7;
    padding: 20px;
    margin-bottom: 50px;
}


/* footer */
.footer{
    position: relative;
    font-family: 'Sunflower';
}
.footer .f_top{
    position: relative;
    padding: 0 10vw 0;
    background: #beb8ae;
    background: #222;
    border-bottom: 1px solid #4c4b4b;
}

.footer .f_top .line{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 1px;
    height: inherit;
    background: #444;
}
.f_top .btn {
    position: relative;
    height: 50vh;
    /* margin: 3vw 0; */
}
.f_top .btn nav{ 
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f_top .btn nav > a{
    margin: 5% 15%;
}
.f_top .btn a{
    color: #969086;
    font-size: 4.7vw;
    text-align: center;
}
:root {
    font-size: 16px;
    --link-translate-x: 2.5rem;
  }
  
.nav__link {
    font-size: 5rem;
    color: #fff;
    display: grid;
    font-style: italic;
}
.nav__link--text {
    grid-area: 1/1;
    transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95), transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.nav__link--text .word {
white-space:     nowrap;
}
.nav__link--text .char {
    display: inline-block;
    transform-origin: 50% 50% 0.4em;
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
    transition-delay: calc(0ms + var(--char-index) * 25ms);
    backface-visibility: hidden;
    margin: 0 -0.02em;
}
.nav__link--text:nth-child(1) {
    font-family: 'Sunflower';
    font-weight: 500;
}
.nav__link--text:nth-child(2) {
    font-family: "Miracle";
    font-weight: 500;
    opacity: 0;
    color: #fff9f1;
}
.nav__link--text:nth-child(2) .char {
    transform: rotate3d(1, -0.5, 0, 90deg);
}
.nav__link:hover .nav__link--text {
    transform: translateX(var(--link-translate-x));
}
.nav__link:hover .nav__link--text:nth-child(1) {
    opacity: 0;
}
.nav__link:hover .nav__link--text:nth-child(1) .char {
    transform: rotate3d(1, 0.3, 0, -90deg);
}
.nav__link:hover .nav__link--text:nth-child(2) {
    opacity: 1;
}
.nav__link:hover .nav__link--text:nth-child(2) .char {
    transform: rotate3d(0, 0, 0, 90deg);
}

@media only screen and (max-width: 20rem) {
:root {
    font-size: 10px;
    --link-translate-x: 2rem;
    }
}
.f_top .arrow{
    width: 2.5vw;
    position: absolute;
}
.f_top .prev{    
    top: 50%;
    left: 3%;
    transform: translateY(-50%) rotate(90deg);
}
.f_top .next{    
    top: 50%;
    right: 3%;
    transform: translateY(-50%) rotate(-90deg);
}
.f_top .arrow svg{stroke: #969086; stroke-width:3;}
.f_top .arrow svg .st0{fill: #969086;}
.f_top .arrow svg .st1{fill: none;}

.footer .f_bottom{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 2% 10vw;
    background: #222;
    color: #969086;
    overflow: hidden;
}
.footer .f_bottom .logo{
    flex: 0 0 33%;
    opacity: 1;
/*    transform: translateY(50px);*/
}
.footer .f_bottom .logo a{ font-size: 2vw; color: #969086;}
.footer .f_bottom .info{
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    line-height: 1.8vw;
    opacity: 1;
/*    transform: translateY(50px);*/
}
.footer .f_bottom .info em{   
     font-size: 0.8vw;
     color: #969086;
     font-family: 'NEXON Lv1 Gothic OTF Light';
     font-weight: bold;
}
.footer .f_bottom .right{
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'NEXON Lv1 Gothic OTF Light';
    font-weight: bold;
    opacity: 1;
/*    transform: translateY(50px);*/
}
.footer .f_bottom .right .menu{
    width: 28vw;
    text-align: right;
    margin-bottom: 2%;
}
.footer .f_bottom .right .menu li{
    position: relative;
    display: inline-block;
    margin: 0 4%;
}
.footer .f_bottom .right .menu li a{
    font-size: 0.8vw;
}
.footer .f_bottom .right .menu li:before{
    content: '/';
    position: absolute;
    left: -1.5vw;
    top: 3%;
    font-size: 1vw;
    color: #222;
}
.footer .f_bottom .right .menu li:nth-of-type(1){margin-left: 0;}
.footer .f_bottom .right .menu li:last-child{margin-right: 0;}
.footer .f_bottom .right .menu li:nth-of-type(1):before{display: none;}
.footer .f_bottom .social{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}
.footer .f_bottom .social li{
    display: inline-block;
    margin: 3% 2px;
}
.footer .f_bottom .copyright{
    font-size: 0.8vw;
    color: #969086;

}


/* 미디어쿼리 */
@media (max-width:1200px) {

}
@media (max-width:1024px) {
    .login-form{width: 55vw;}
}
@media (max-width:960px) {

    /* footer */
    .footer .f_bottom{ padding: 3% 10vw;}
    .f_top .btn{height: 40vh;}
    .footer .f_bottom .logo a{font-size: 2.6vw}
    .footer .f_bottom .info em{font-size: 1.2vw;line-height: 2.2vw;}
    .footer .f_bottom .copyright{font-size: 1.2vw  }
}
@media (max-width:768px) {
    .login-form{width: 80%}

     /* footer */
     .f_top .btn a{font-size: 6vw;}
     .footer .f_bottom .logo a{font-size: 2.8vw}
     .footer .f_bottom .info em{font-size: 1.4vw;  line-height: 2.4vw;}
     .footer .f_bottom .copyright{font-size: 1.4vw  }
}
@media (max-width:600px) {
    .login-form { margin: 80px auto 100px;}
    .login-form h2{font-size: 16px;margin-bottom: 15px;}
    .login-form .login-box label{font-size: 14px;}
    .login-form .login-box .input_write{height: 40px; margin-bottom: 15px;}
    .login-form .login-box .info{margin-top: 30px;}
    .login-form .login_btn{margin-top: 30px; font-size: 16px; padding: 12px 0;}
    .login-form .join-info li{ font-size: 12px;}
    .login-form .join-privacy {margin-bottom: 15px; padding: 15px;}
    .login-form .join-privacy li{font-size: 12px; }
     /* footer */
     .footer .f_bottom{flex-direction: column;}
     .f_top .btn {   height: 30vh; }
     .f_top .btn a{font-size: 7vw;}
     .footer .f_bottom .logo {margin-bottom: 10px;}
     .footer .f_bottom .logo a { font-size: 4vw;  }
     .footer .f_bottom .info{margin-bottom: 10px;}
     .footer .f_bottom .info em{text-align: center; font-size: 2.2vw;  line-height: 3.2vw;}
     .footer .f_bottom .social{justify-content: center; margin-bottom: 10px;}
     .footer .f_bottom .copyright{font-size: 2.2vw;  line-height: 3.2vw;}
}
@media (max-width:480px) {
    .login-form{padding: 40px 30px;}
    .login-form h2{font-size: 14px;}
    .login-form .login-box label{font-size: 12px;}
    .login-form .login-box .input_write{height: 35px; font-size: 12px;}
    .login-form .login-box .info{margin-top: 25px;}
    .login-form .login-box .info .list li{font-size: 12px;}
    .login-form .login_btn {
        margin-top: 25px;
        font-size: 12px;
        padding: 8px 0;
    }
    .login-form h3{font-size: 14px;}
}
@media (max-width:375px) {
    .login-form{width: 90%;}
}