@charset "utf-8";

/* 레이아웃 */
#mNav { display: none; position: absolute; top: 10px; right:24px; }
#header{ position: fixed; left: 0; top: 0; z-index: 999;	width: 100%; background-color: #fff; border-bottom:1px solid #ccc; }
#banner{ position: relative; }
#movie{background-color: #f2f2f2}
#event {}
#opening { margin: 17px 0; background: url(../img/bg01.jpg) no-repeat center top; background-size:cover;}
#new{}
#footer{background: #222;}



/* 가운데 영역 */
.container{ position: relative; width: 1280px; margin: 0 auto;  }

/* 로우 영역 */
.row{ padding: 0 28px; }

/* 모바일 메뉴 */
.ham { display: block; width: 25px; height: 10px; background-color: rgba(0,0,0,0); padding: 15px 10px 10px 10px;}
.ham span { position: relative; display: block; width: 25px; height: 4px; background-color: #39106a;  
}
.ham span:before{ content: ""; width: 25px; height: 4px; background-color: #39106a;
	position: absolute; left: 0; bottom: -7px;
}
.ham span:after{ content: ""; width: 25px; height: 4px; background-color: #39106a;
	position: absolute; left: 0; top: -7px;
}



/* 헤더영역 */
.header h1 { float: left; }
.header h1 em{ padding: 15px 8px 5px 0; display: inline-block;}
.header h1 em img{ width: 155px;}
.header h1 strong  { display: block; position: absolute; left: 194px; top: 28px; }
.header h1 strong img{ width: 125px;}

.header .nav { float: right;  }
.header .nav ul{	border-left: 1px solid #c6c6c6; }
.header .nav ul li{ 	float: left; 	width: 103px;	text-align: center;	border-right: 1px solid #c6c6c6; }
.header .nav ul li a { 	display: block; 	padding: 20px 10px; font-size: 16px; font-weight: 700; color: #444; }


/* 배너 영역 */
.banner_menu{ overflow: hidden; position: absolute; left: 0; top: 70px; width: 100%; height: 100px; z-index: 10;}
.banner_menu a{ color: #fff; 	font-size: 16px;	transition: all 0.3s;}
.banner_menu a:hover{ color: #c1c1c1; }
.banner_menu .bn_left{ float: left;}
.banner_menu .bn_left ul{ padding-top: 7px;}
.banner_menu .bn_left li{ 	position: relative; 	display: inline; 	margin-right: 30px; }
.banner_menu .bn_left .total{ margin-right: 20px;}
.banner_menu .bn_left .total a{ font-size: 14px; padding: 4px 10px; border: 1px solid #fff; display: inline-block; transition: all 0.3s; }
.banner_menu .bn_left .total i{ margin-right: 5px; font-size: 13px;}
.banner_menu .bn_left .total a:hover{ background-color: #fff; border-color: #000; color: #000; }

.banner_menu .bn_right{ float: right;}
.banner_menu .bn_right ul { float: left; }
.banner_menu .bn_right ul:first-child { padding-top: 7px; }
.banner_menu .bn_right li{ position: relative; display: inline; text-align: center; margin-right: 20px; }
.banner_menu .bn_right li.line{ margin-right: 30px; }
.banner_menu li.line:after{ content: ""; 	width: 1px; height: 14px; background-color: #fff; 
	position: absolute; 	right: -18px; 	top: 2px; }
.banner_menu .bn_right .white{ margin-right: 10px; }
.banner_menu .bn_right .white a{ width: 80px; background-color: #fff; border: 1px solid #3a1a6a; color: #3a1a6a; 
	display: inline-block; padding: 7px 30px 9px 30px; }
.banner_menu .bn_right .purple{ margin-right: 0; }
.banner_menu .bn_right .purple a{ width: 80px; background-color: #3a1a6a; border: 1px solid #6e40c4 ;	padding: 7px 30px 9px 30px ;  display: inline-block; color: #fff; }


/* 슬라이드 */
.slider{ width: 100%; height: 600px;}
.slider .ss1{ 	background: url(../img/banner_01.jpg) no-repeat center center;	background-size: cover; }
.slider .ss2{	background: url(../img/banner_02.jpg) no-repeat center center; background-size: cover; }
.slider .ss3{	background: url(../img/banner_04.jpg) no-repeat center center;	background-size: cover; }


/* 무비 */
.movie{ padding: 100px 0; } 
.movie_title{ margin-bottom: 60px;}
.movie_title ul{ overflow: hidden; width: 865px; margin: 0 auto; }
.movie_title li{ float: left; width: 210px; text-align: center; border: 1px solid #c4c4c4; background-color: #fff; margin-right: -1px;}
.movie_title li a{ display: block; padding: 15px 0; font-size: 18px; color: #666; font-weight: 700; }
.movie_title li.active a{ background-color: #666; color: #fff;}

.movie_chart{   overflow: hidden;}
.movie_chart > div > div > div{ float: left; width: 285px;  margin-right: 24px; }
.movie_chart > div > div > div:last-child{ margin-right: 0; }
.movie_chart > div > div > div .poster { position: relative; }
.movie_chart > div > div > div .poster img { display: block; }
.movie_chart > div > div > div .poster .rank { position: absolute; top:17px; left: 0; width: 50px; height: 50px; line-height: 50px;background-color: #38116a; text-align: center;  box-shadow: 3px 3px 8px rgba(0,0,0,0.5)}
.movie_chart > div > div > div .poster .rank strong{ color: #fff; font-size: 18px; text-shadow: 2px 2px 3px rgba(0,0,0,1);}
.movie_chart > div > div > div .info { background-color: #fff; padding: 17px; border: 1px solid #d9d9d9;}
.movie_chart > div > div > div .info h3{ color: #333; font-weight: 700; margin-bottom: 20px;  
	text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.movie_chart > div > div > div .info h3 strong{ font-size: 26px; padding-left: 10px;}
.movie_chart > div > div > div .info h3 span{ width: 29px; height: 29px; display: inline-block; margin-top: 9px; vertical-align: -3px; }
.movie_chart > div > div > div .info h3 span.all{ background-position: -87px -125px;}
.movie_chart > div > div > div .info h3 span.a12{ background-position: 0px -125px;}
.movie_chart > div > div > div .info h3 span.a15{ background-position: -29px -125px; }
.movie_chart > div > div > div .info h3 span.a19{ background-position:-58px -125px; }
.movie_chart > div > div > div .info .info_btn { display: flex; justify-content: space-around; }
.movie_chart > div > div > div .info .info_btn a{ display: inline-block; background-color: #f2f2f2; font-size: 18px; width: 45%; padding: 15px 0; box-sizing: border-box; color: #666;  text-align: center;  }
 

/* 이벤트 */
.event { overflow: hidden; padding: 100px 0; }
.event img{ display: block; }
.event h2 { font-size: 30px; font-weight: 500; margin-bottom: 20px; }
.event .event_left{ float: left; width:66%; margin-right: 2%; }
.event .event_left .event_box1,
.event .event_left .event_box2 { float: left; width: 50%; }
.event .event_right{float: left; width: 32%;}



/* 오프닝 */
.opening{padding: 100px 0; text-align: center; color: #bb9b51;}
.opening h2{margin-bottom: 15px;}
.opening h2 .grand{ background-position: 0 -175px; display: inline-block; width: 330px; height: 50px;}

.opening .date{ font-size: 25px; display: inline-block; width: 260px;height: 40px; margin-bottom: 10px;}
.opening .desc{font-size: 25px; font-weight: 300; padding-bottom: 20px; background: url(../img/bar.png) no-repeat bottom center;background-size: 70%;}
.opening .open_box { overflow: hidden; padding: 20px 3% 0 3%; }
.opening .open_box > div{ float: left; width: 27.333%; margin:4% 3% 0 3%; background-color: rgba(0,0,0,0.4); border: 1px solid #3e4b44; box-sizing: border-box;}
.opening .open_box > div h3{color: #fff; font-size: 19px; font-weight: 300; border: 1px solid #6e3abb; margin-top: -24px; background: #3a1a6a;  padding: 10px 20px; display: inline-block; }
.opening .open_box > div p {color: #fff; font-size: 23px; font-weight: 700; padding: 6% 0 10% 0; }
.opening .open_box > div em{ display: block;font-weight: bold; margin-bottom: 5px;}
.opening .open_box > div strong{display: block; margin-bottom: 5px;}


/* 새로운 영화 */
.new{ position: relative;padding: 100px 0; overflow: hidden; box-sizing: border-box;}
.new h2{ font-size: 30px; font-weight: 500; margin-bottom: 20px;}
.new .new_left{ float: left; width: 65%; height: 500px; }
.new .new_left iframe{ 	width: 100%; height: 100%;}

.new .new_right{ float: right; width: 33%; height: 500px; background: #f0f0f0; padding: 34px; box-sizing: border-box;}
.new .new_right .title{font-size: 28px; color: #000; }
.new .new_right .release{font-size: 15px; color: #333;}

.new .new_right .star{padding: 10px 0;}
.new .new_right .star span {display: inline-block; width: 20px; height: 20px; vertical-align: -3px;}
.new .new_right .star .star1 {background-position: -393px 0;}
.new .new_right .star .star2 {background-position: -412px 0;}
.new .new_right .star .star0 {background-position: -374px 0;}
.new .new_right .star strong{font-size: 15px;}

.new .new_right .summary {font-size: 14px;}
.new .new_right .summary .genre{ padding-bottom: 5px;}
.new .new_right .summary .genre .bar{position: relative; padding-right: 15px;}
.new .new_right .summary .genre .bar:after{content: ""; display: block; width: 1.5px; height: 15px; position: absolute; top:3px ; right: 2px; background-color: #999;}
.new .new_right .summary .age{padding-bottom: 5px;}
.new .new_right .summary .age .bar{position: relative; padding-right: 15px;}
.new .new_right .summary .age .bar:after{content: ""; display: block; position: absolute; top: 3px; right: 5px; height: 15px; width: 1.5px; background: #999;}
.new .new_right .summary .desc{margin-bottom: 20px; height: 117px; overflow: hidden; }

.new .new_right .select .s_12{display: flex; justify-content: space-between;}
.new .new_right .select .s1 {width: 49%; background-color: #2c2f34;}
.new .new_right .select .s1 input {width: 100%; border: none; padding: 10px; background-color: #2c2f34; color: #fff; box-sizing: border-box;  background-color: transparent; outline: none;}
.new .new_right .select .s2 {width: 49%;background-color: #2c2f34;}
.new .new_right .select .s2 select { width: 100%; border: none; padding: 10px; background-color: #2c2f34; color: #fff; box-sizing: border-box; background: #2c2f34 url(../img/down.svg) no-repeat right 15px center; background-size: 10px; appearance: none; }
.new .new_right .s3 { color: #fff; margin-top: 2%; background: #2c2f34;}
.new .new_right .s3 input{box-sizing: border-box;  background: #2c2f34; width: 100%; padding:  10px; color: #fff; border: none;}
.new .new_right .btn{display: flex; justify-content: space-between; margin-top: 2%;}
.new .new_right .btn .white{width: 49%;text-align: center; background-color: #fff; color: #3a0e6a; border: 1px solid #3a0e6a;padding: 10px 0; cursor: pointer;}
.new .new_right .btn .purple{width: 49%; text-align: center; background-color: #3a0e6a; color: #fff; border: 1px solid #6e40c4;cursor: pointer;}


/* help */
.help {overflow: hidden; padding-bottom: 100px;}
.help article {float: left; width: 32%; margin-right: 2%;  }
.help article > div {border: 1px solid #dbdbdb; height: 350px;}
.help article.help_box3 {margin-right: 0;}
.help article.help_box3 > div {border: 0}
.help article h3 {font-size: 30px; font-weight: 500; margin-bottom: 20px;}


/*공지사항*/
.notice{ padding: 17px; position: relative;}
.notice ul { overflow: hidden;}
.notice ul li { float: left; text-align: center; margin-right: -1px; } 
.notice ul li  a { border: 1px solid #dbdbdb; font-size: 15px; width: 80px; color: #666; display: block; padding: 10px 20px; background: #f5f5f5; }
.notice ul li.active a { background-color: #fff;}
.notice ul li  ul { position: absolute;  left: 17px; top: 70px; width: 90%;}
.notice ul li  ul li { text-align: left; width: 100%; padding: 15px; box-sizing: border-box; border-bottom: 1px solid #dbdbdb;}
.notice ul li  ul li:last-child { border-bottom: 0;}
.notice ul li  ul li dt .bar { position: relative; padding-right: 15px; }
.notice ul li  ul li dt .bar:after { content: ""; position: absolute; top: 4px; right:6px; background-color: #333; width: 1px; height: 12px; }
.notice ul li  ul li dt em{ color: #666;}
.notice ul li  ul li dd  { color: #333; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}


/* 할인 카드 */
.card { padding: 17px;}
.card ul .card_list { border: 1px solid #d7d7d7; padding: 13px; margin-bottom: 17px; min-height: 102px; box-sizing: border-box;}
.card ul .card_list ul { display: flex; justify-content: space-around;}
.card ul .card_list ul span img { width: 110px; margin-right: 15px;}
.card ul .card_list ul .card_info { display: flex; flex-direction: column; justify-content: center; }
.card ul .card_list ul .card_info strong { font-size: 18px; font-weight: 500; color: #777;}
.card ul .card_list ul .card_info em { font-size: 14px; font-weight: 300; color: #777;}



/* 고객센터 */

.service ul { overflow: hidden;}
.service  li{ float: left; width: 50%; height: 193px; box-sizing: border-box; border: 1px solid #d7d7d7; text-align: center; }
.service  li a span{ display: block; width: 120px; height: 120px; margin: 20px auto 0 auto; overflow: hidden; }
.service  li a strong{ color: #666; font-size: 18px; font-weight: 500; }
.service  li:nth-child(1){ border-right: 0; border-bottom: 0; }
.service  li:nth-child(4){ border-left: 0; border-top: 0; }


/* footer */
.footer{ display: flex; }
.footer .footer_info { padding: 50px 0; width: 60%;}
.footer .footer_info img { width: 150px; }
.footer .footer_info ul { padding: 15px 0;}
.footer .footer_info li { display: inline-block; }
.footer .footer_info li a{ color: #999; display: block; font-size: 12px; padding-right: 20px;}
.footer .footer_info .bar { position: relative;}
.footer .footer_info .bar:after { content: ''; display: block;
	position: absolute; top: 4px; right: 6px; width: 1px; height: 12px; background: #999; }
.footer .footer_info .bar:last-child:after{display: none;}
.footer .footer_info address { color: #999;}
.footer .footer_info address p { padding-bottom: 15px; }
.footer .footer_info address .bar2 {position: relative;padding-right: 15px;}
.footer .footer_info address .bar2:after { content: ''; display: block;
	position: absolute; top: 3px; right: 5px; width: 1px; height: 12px; background: #999; }


.footer .footer_sns { padding: 60px 0; width: 40%; display: flex; flex-direction: column; align-items: flex-end;}
.footer .footer_sns li { width: 36px; height: 36px; margin-left: 4px; display: inline-block; cursor: pointer;}
.footer .footer_sns .tel a { display: block; color: #999; font-size: 21px; padding-top: 5px;}
.footer .footer_sns .tel em { color: #fff;margin-left: 5px; }
.footer_sns li.s1 { background-position: 0 -375px; }
.footer_sns li.s2 { background-position: -36px -375px; }
.footer_sns li.s3 { background-position: -72px -375px; }
.footer_sns li.s4 { background-position: -108px -375px; }
.footer_sns li.s5 { background-position: -144px -375px; }
.footer_sns li.s1:hover { background-position: 0 -411px; }
.footer_sns li.s2:hover { background-position: -36px -411px; }
.footer_sns li.s3:hover { background-position: -72px -411px; }
.footer_sns li.s4:hover { background-position: -108px -411px; }
.footer_sns li.s5:hover { background-position: -144px -411px; }






/*********** 미디어쿼리 ***********/
@media (max-width:1290px){
	.container{width: 100%;}
	.header h1 em { padding: 12px 8px 5px 0; }
	.header h1 strong { top: 20px; }
	.header .nav ul li{ width: 93px; }
	.header .nav ul li a { font-size: 15px; padding: 17px 10px;}
	
	.swiper-button-prev, .swiper-button-next { display: none; }
}
@media (max-width:1024px){
/*	header */
	#mNav{display: block;}
	.row{	padding: 0 24px;}
	
	.header { position: relative; }
	.header .nav{display: none;}
	.header .nav.active{display: block; position: absolute; top: 53px;  left: -10%; background-color: rgba(255, 255, 255, 0.8); width: 120%;}
	.header .nav.active ul{  float: none; display: flex; flex-direction: column; border: 0;}
	.header .nav.active ul li{ float: none; width: 100%; border-right: 0; border-bottom: 1px solid #dadada;}
	.header .nav.active ul li a{ color: #222;}
	.header .nav.active ul li:hover { background: rgba(102, 102, 102, 0.2);}
	.header .nav.active ul li:hover a{ color: #222;}
	
	.header h1 { float: none; text-align: center;}
	.header  h1 strong{ left: 24px;}
	
/*	banner */
	.banner_menu .bn_left ul{ display: none;}
	.banner_menu .bn_right ul:first-child{ display: none;}
	
/*	help */
	.help article.help_box1{ width: 49%; }
	.help article.help_box2{ width: 49%; margin-right: 0; }
	.help article.help_box3{ width: 100%; margin-top: 2%; }
	.help article.help_box3 h3{ display: none; }
	.help article.help_box3 > div { border: 1px solid #d7d7d7; height: auto; }
	.service li { width: 25%; border:0; }
	
	
}

@media (max-width:960px){
	.slider {height: 450px;}
	
/*	movie*/
	.movie_title ul{width: auto;}
	.movie_title li {width: 25%; box-sizing: border-box; }
	
/* new */
	.new .new_left{width: 100%; height: 400px;}
	.new .new_right{width: 100%; height: auto;}
	.new .new_right .summary .desc{height: auto;}
	
/*	footer */
	#footer .row{ padding: 0;}
	.footer { flex-direction: column;}
	.footer .footer_sns { order: 1; width: 100%; height: 50px;  padding: 0; padding-bottom: 15px; background-color: #352c2c; align-items: center; }
	.footer .footer_sns ul{ padding-top: 14px;}
	.footer .footer_sns .tel{ display: none;}
	
	.footer .footer_info{ order: 2; width: 100%; text-align: center;}
	.footer .footer_info li a{ padding-right: 0px; padding: 0 10px;}
	.footer .footer_info .bar:after { right: 0px; }
}

@media (max-width:768px){
	
	body{background: #d9d7e0;}
	.row{ padding: 0 16px; }
	
/* header */
	#mNav{ right: 6px;}
	.header h1{ text-align: left;}
	.header h1 strong{ display: none;}
	
	.slider { height: 400px;}
	
/*	movie */
	#movie{ background-color: #d9d7e0;}
	#movie .row{ background-color: #fff; margin: 24px; padding: 24px; }
	#movie .ir_so{ position: static; width: auto; height: auto; line-height: normal; text-indent: 0; font-size: 24px;font-weight: bold;padding-bottom: 20px;}
	.movie{ padding: 0; }
	.movie_title { margin-bottom: 30px;}
	.movie_title ul { position: relative; padding-bottom: 10px;}
	.movie_title ul:before { position: absolute; z-index: 1; left: 0; bottom: 0; content: ""; width: 100%; height: 2px; background:#e1e1e1; }
	.movie_title li { width: auto; border: 0; }
	.movie_title li a { font-size: 18px; color: #666; font-weight: 400; padding: 0; margin-right: 35px;}
	.movie_title li.active a{ position: relative; background: none; color: #666; }
	.movie_title li.active a:before{ content: ""; position: absolute; z-index: 2; left: 0; bottom: -10px; width: 100%; height: 2px; background: #555555;}
	
/*	event */
	#event .row { background-color: #fff; margin: 24px; padding: 24px;	}
	.event { padding: 0; }
	.event h2{ font-size: 24px; height: 27px; font-weight: 700; padding-bottom: 10px;}
	.event .event_left{ float: none; width: 100%; margin-right: 0;}
	.event .event_right{ display: none; }
	
/* opening */
	.opening{ padding: 50px 0;}
	.opening h2{ margin-bottom: 0; }
	.opening .open_box{ display: none; }
	.opening .desc{ background:none; font-size:20px; padding-bottom:0; }
	
/* new */
	#new .row { background-color: #fff; margin: 24px;  padding: 24px; }
	.new{ padding:0; }
	.new h2{ font-size: 24px; height: 27px; font-weight: 700; padding-bottom: 10px; }
	.new .new_right{padding: 24px; }
	
/*	help */
	#help .row{ padding: 0 24px;}
	.help{ padding-bottom: 0;}
	.help article h3 { font-size: 24px; height: 27px; font-weight: 700; padding-bottom: 10px; }
	.help article.help_box1 { width: 100%; background: #fff; padding: 24px; box-sizing: border-box; }
	.help article.help_box2 { width: 100%; background: #fff; padding: 24px;box-sizing: border-box; margin-top: 24px; }
	.help article.help_box3 { width: 100%; background: #fff; margin: 24px 0; }
	.card ul .card_list ul{ justify-content: flex-start; }
	
	
}
@media (max-width:600px){
	
/*	banner */
	.slider {height: 300px;}
	.banner_menu{top: 70px;}
	.banner_menu .bn_right .white a,
	.banner_menu .bn_right .purple a{ border: 1px solid #fff; background-color: rgba(0,0,0,.6); color: #fff;
		font-size: 14px; padding: 3px 5px 5px 5px; }
	.swiper-pagination-bullet { width: 13px !important; height: 13px !important; }

/* movie */
	#movie .container { position: relative; }
	#movie .container:after { 
		content: ""; position: absolute; z-index: 20; top: 0 ;right: 0;
		width: 8px; height: 100%; background: #d9d7e0; }
	#movie .row{ position: relative; background-color: #fff; margin: 8px; padding: 16px; margin-right: 0; padding-right: 0;}
	#movie .row:after{ content: ""; position: absolute; z-index: 10; top: 0; right: 0;
		width: 24px; height: 100%; background: #fff; } 	
	#movie .ir_so{ font-size: 18px; padding-bottom: 10px; }
	.movie_title { margin-bottom: 20px; }
	.movie_title ul { padding-bottom: 8px; }
	.movie_title li a { font-size: 14px;  margin-right: 15px;}
	.movie_title li.active a:before{ bottom: -8px; }

	.movie_chart { position: relative; z-index: 30; }
	.movie_chart > div > div > div .info  { padding: 5px;}
	.movie_chart > div > div > div .info h3{ text-align: center; margin: 5px 0 10px;}
	.movie_chart > div > div > div .info h3 span{ display: none; }
	.movie_chart > div > div > div .info h3 strong { display: block; font-size: 19px; font-weight: 300; padding-left: 0; color: #222;}
	.movie_chart > div > div > div .info .info_btn a { width: 52%;  font-size: 14px; background: none; border: 1px solid #ddd; padding: 6px 0;  color: #777; margin-bottom: 5px; box-sizing: border-box;}
	.movie_chart > div > div > div .info .info_btn a:last-child { display: none; }
	
/* event */
	#event .row { margin:8px; padding: 16px; }
   .event h2 { font-size: 18px; margin-bottom: 0; }
	
/* opening	*/
	.opening h2 .grand{ background-size: 300px; background-position: 0 -105px; width: 197px; height: 24px; }   
	.opening .date{ display: none; }
	.opening .desc{ font-size: 16px; }
	
/* new */
	#new .row { margin: 8px;  padding: 16px; }
	.new h2{ font-size: 18px; margin-bottom: 0; }
	.new .new_left{ height: 300px; }
	.new .new_right{ padding: 16px; }
	.new .new_right .title{ font-size: 22px; }
	.new .new_right .star { padding: 9px 0; }
	.new .new_right .select .s_12{ flex-direction: column; }
	.new .new_right .select .s1 { width: 100%;margin-bottom: 2%; }
	.new .new_right .select .s1 input{ padding:7px 10px; }
	.new .new_right .select .s2 { width: 100%; }
	.new .new_right .select .s2 select{ padding:7px 10px; }
	.new .new_right .select .s3 input{ padding:7px 10px;  }
	
/*	help */
	#help .row{ padding: 0 8px; }
	.help article.help_box1{ padding: 16px; }  
	.help article.help_box2{ padding: 16px; margin-top: 8px; }  
	.help article.help_box3{ margin-top: 8px; margin-bottom: 8px; }  
	.help article h3{ font-size: 18px; margin-bottom: 0; }

	.notice ul li ul li{ padding: 17px 8px; }
	
	.card { padding: 8px; }

	.service li{ width: 50%; height: auto; }
	.service li:nth-child(1){ border-right: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7; }
	.service li:nth-child(2){ border-bottom: 1px solid #d7d7d7; }
	.service li:nth-child(3){border-right: 1px solid #d7d7d7; }
	.service li a span { width: 70px;  height: 70px; }
	.service li a strong {display: block; padding-bottom: 10%; }

/*	footer */
	.footer .footer_info{ padding: 30px 0; }


}

@media (max-width:480px){
	 
}

@media (max-width:360px){
	 
}

@media (max-width:320px){
	.movie_title ul{ white-space: nowrap; overflow-x: hidden; height: 29px; }
	.movie_title li{  margin-right: 9px; }  
}
