*{padding: 0; margin: 0; box-sizing: border-box}
ul{list-style: none;}
a{text-decoration: none;}
body{
	position: relative;
	height: 100vh;
	display: flex; flex-direction: column;
	justify-content:center;
	align-items: center;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	transition: 0.5s ease;
}

body.styleAdd:before{
	
	
}
button{
	cursor: pointer;
}
body img.bg{
	position: fixed; top:0; left: 0; z-index: -1;
	width: 100%; height: 100vh;
}
/*clock*/
#clock {
	position: relative;
	transform: translateY(-20px);
}
#clock span{
	font-size: 13vw;
	color: #fff;
/*	text-shadow :0 0 4px rgba(0, 0, 0, 0.6);*/
	
}
#clock .seconds{
	font-size: 5vw;
	letter-spacing: 2px;
}
#clock .text{
	color: rgba(255, 255, 255, 0.7);
    /* text-shadow: 0 0 5px rgb(0 0 0 / 50%); */
    position: absolute;
    top: 31px;
    right: 1px;
    font-size: 3.7vw;
    letter-spacing: 1px;
}
/*login-form*/
#login-form {
	margin-top:15px; font-size: 0;
	padding: 5px;
	transform: translateY(-30px);
}
#login-form input{
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border: none;  border-radius: 5px; 
	padding: 10px 20px;
	width: 400px; 
	height: 40px;
	font-size: 18px;
	outline: none;
	color: #444; margin-right: 5px;
}
input::placeholder{
	transition: 0.5s; opacity: 1;
}
#login-form input:focus{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
input:focus::placeholder{
	opacity: 0;
	visibility: hidden;
}

#login-form button{
	width: 90px; height: 40px;
	border: none; font-size: 15px; padding: 12px 0px;  
	border-radius: 5px; color: #444; 
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/*greeting*/
#greeting{
	position: relative;
	font-size: 2.5vw;
	color: #fff;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
	transform: translateY(-20px);
	letter-spacing: 2px;
}
#greeting h1{display: inline-block;}
#greeting button{ 
	vertical-align: bottom;
    position: absolute;
    top: 20px;
    margin-left: 5px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 3px;
    border: none;
    border-radius: 5px;
    width: 25px;
    height: 25px;
}
#greeting button:before,
#greeting button:after {
	content: '';
	position: absolute; top: 50%; left: 50%;
	width: 50%; height: 1px; background-color: #393939; 
}
#greeting button:before{
	transform: translate(-50%,-50%) rotate(45deg);
}
#greeting button:after{
	transform: translate(-50%,-50%) rotate(-45deg);
}
#greeting button:hover{
	animation: move 0.6s infinite alternate ease-in;
}
@keyframes move{
	0%{transform: translateY(0px);}
	100%{transform: translateY(-3px);}
}

/*todo-list*/
#todo { 
	position: absolute; right: 10px;/*right: 10px;*/;
	transition: 0.5s cubic-bezier(0.5, 0.03, 0.49, 1.01);
	}
#todo .plusBtn{
	width: 40px; height: 40px;
	text-align: center; 
	border-radius: 50%; display: block; background: #3ad8ae; box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
#todo .plusBtn:before,
#todo .plusBtn:after{
	content: '';
	position: absolute; background: #fff; 
	width: 40%; height: 1px;
	transition: 0.5s cubic-bezier(0.47, 0.04, 0.33, 1.03);;
}
#todo .plusBtn:before{
	top: 50%; transform: translateX(-50%)
}
#todo .plusBtn:after {
	top: 50%; transform: translateX(-50%) rotate(90deg);
}
.todo-box{
	position: fixed; top: 50%; right: -400px; 
	transform: translateY(-50%); 
	width: 350px; height: 90vh; border-radius: 10px;
	overflow: auto; overflow-x:hidden;
	background: #fff;
	transition: 0.5s cubic-bezier(0.5, 0.03, 0.49, 1.01);
	background-color: #f8f8f8;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
#todo-form h2 {
	color: #343740; text-align: center; font-weight: 600;
	padding: 8px; font-size: 20px;
	border-bottom: 1px solid #ddd;
}
#todo-form h2 .fa-calendar-check{
	margin-right: 2%;
}
#todo-form input{ 
	border: none; display: inline-block; 
	width: 100%; padding: 8px 15px;
	border-bottom: 1px solid #ddd;
	outline: none; font-size: 14px;
	font-family: 'Noto Sans KR', sans-serif;
}

#todo-list {
	position: absolute;
	width: 100%;
}
#todo-list li{ 
	position: relative; 
	margin: 10px 8px;
	padding: 5px 15px;
	background-color: #fff;
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	font-family: 'Noto Sans KR', sans-serif;
}
#todo-list span { font-size: 14px; vertical-align: 2px; color: #343740; }
#todo-list button{ background: none; border: none; }
#todo-list button:before{
	content: '\f55a';
	font-family: 'FontAwesome';
	position: absolute; right: 15px; top: 50%; transform: translateY(-50%);
	color: #3ad8ae; 
}
#todo.move{
	right: 370px;
	z-index: 100;
}
#todo.move .plusBtn:before{
	transition-delay: 0.5s;
	transform: translateX(-50%) rotate(45deg);
	
}
#todo.move .plusBtn:after{
	transition-delay: 0.5s;
	transform: translateX(-50%) rotate(135deg);
}
#todo.move .todo-box{ right: 10px; }


/*quote*/
#quote { 
	position: absolute;
	bottom: 20px;
	color: #fff; text-align: center; 
	background-color: rgba(255, 255, 255, 0.3);
	padding: 5px 30px;
	border-radius: 10px;
}
#quote span { 
	text-shadow: 0 0 3px rgba(0, 0, 0, 1); font-size: 13px; 
}

/*weather*/
#weather{
	color: #fff; font-weight: 500;
	position: absolute; top: 20px; right: 30px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	font-size: 16px; 
	text-align: right;
}
#weather .city{position: relative;}
#weather .city:before{
	content: '\f3c5'; font-family: fontawesome;
	position: absolute; left: -18px; font-size: 16px;
}
#weather .temp{letter-spacing: 1px; display: block;}


.hidden{
	display: none;
}
